In [268]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.neighbors import KNeighborsRegressor

In [269]:
#data = pd.read_csv('csvs/datosSinNan.csv', low_memory=False)

In [270]:
datatest = pd.read_csv('csvs/properati_dataset_testing_noprice.csv', low_memory=False)

In [271]:
datatest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 17 columns):
id                         14166 non-null int64
created_on                 14166 non-null object
property_type              14166 non-null object
operation                  14166 non-null object
place_name                 14166 non-null object
place_with_parent_names    14166 non-null object
country_name               14166 non-null object
state_name                 14166 non-null object
lat-lon                    10487 non-null object
lat                        10487 non-null float64
lon                        10487 non-null float64
surface_total_in_m2        11853 non-null float64
surface_covered_in_m2      13005 non-null float64
floor                      1368 non-null float64
rooms                      7500 non-null float64
expenses                   2543 non-null object
description                14166 non-null object
dtypes: float64(6), int64(1), object(10)
memory usage: 1.8+ MB

In [272]:
meanLat = datatest[['place_name','lat']].groupby('place_name').agg(np.mean)
meanLon = datatest[['place_name','lon']].groupby('place_name').agg(np.mean)

In [273]:
for place in meanLon.index:
    datatest.loc[((datatest.lon.isnull()) & (datatest.place_name == place)), 'lon'] = meanLon.loc[place]['lon']
    datatest.loc[((datatest.lat.isnull()) & (datatest.place_name == place)), 'lat'] = meanLat.loc[place]['lat']

In [274]:
noLatLon = datatest[datatest.lat.isnull()].groupby('place_name').agg(np.size)
noLatLon

,id,created_on,property_type,operation,place_with_parent_names,country_name,state_name,lat-lon,lat,lon,surface_total_in_m2,surface_covered_in_m2,floor,rooms,expenses,description
place_name,,,,,,,,,,,,,,,,
Abril Club de Campo,1,1,1,1,1,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1,1
Altos de Hudson I,1,1,1,1,1,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1,1
Bs.As. G.B.A. Zona Oeste,13,13,13,13,13,13,13,13,13.0,13.0,13.0,13.0,13.0,13.0,13,13
Buenos Aires Interior,1,1,1,1,1,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1,1
El Rocío,1,1,1,1,1,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1,1
González Catán,1,1,1,1,1,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1,1
Gregorio de Laferrere,5,5,5,5,5,5,5,5,5.0,5.0,5.0,5.0,5.0,5.0,5,5
Haras San Pablo,2,2,2,2,2,2,2,2,2.0,2.0,2.0,2.0,2.0,2.0,2,2
La horqueta de Echeverría,3,3,3,3,3,3,3,3,3.0,3.0,3.0,3.0,3.0,3.0,3,3
Malvinas Argentinas,1,1,1,1,1,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1,1
Prados del Oeste,1,1,1,1,1,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1,1
Solar del Bosque,2,2,2,2,2,2,2,2,2.0,2.0,2.0,2.0,2.0,2.0,2,2
Sourigues,1,1,1,1,1,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1,1
Terralagos,3,3,3,3,3,3,3,3,3.0,3.0,3.0,3.0,3.0,3.0,3,3
Villa Celina,7,7,7,7,7,7,7,7,7.0,7.0,7.0,7.0,7.0,7.0,7,7

In [275]:
datatest.loc[datatest.place_name == 'Abril Club de Campo', 'lat'] = -34.802221
datatest.loc[datatest.place_name == 'Abril Club de Campo', 'lon'] = -58.164291

In [276]:
datatest.loc[datatest.place_name == 'Bs.As. G.B.A. Zona Oeste', 'lat'] = datatest.loc[datatest.state_name == 'Bs.As. G.B.A. Zona Oeste', 'lat'].mean()
datatest.loc[datatest.place_name == 'Bs.As. G.B.A. Zona Oeste', 'lon'] = datatest.loc[datatest.state_name == 'Bs.As. G.B.A. Zona Oeste', 'lon'].mean()

In [277]:
datatest.loc[datatest.place_name == 'El Rocío', 'lat'] = -34.867969
datatest.loc[datatest.place_name == 'El Rocío', 'lon'] = -58.488543

In [278]:
datatest.loc[datatest.place_name == "Buenos Aires Interior",'lat'] = -34.708663
datatest.loc[datatest.place_name == "Buenos Aires Interior",'lon'] = -58.973401

In [279]:
datatest.loc[datatest.place_name == "Altos de Hudson I",'lat'] = -34.862623
datatest.loc[datatest.place_name == "Altos de Hudson I",'lon'] = -58.168622

In [280]:
datatest.loc[datatest.place_name == "González Catán",'lat'] = -34.769133
datatest.loc[datatest.place_name == "González Catán",'lon'] = -58.628477

In [281]:
datatest.loc[datatest.place_name == "Gregorio de Laferrere",'lat'] = -34.743953
datatest.loc[datatest.place_name == "Gregorio de Laferrere",'lon'] = -58.592342

In [282]:
datatest.loc[datatest.place_name == "Haras San Pablo",'lat'] = -34.606195
datatest.loc[datatest.place_name == "Haras San Pablo",'lon'] = -59.038684

In [283]:
datatest.loc[datatest.place_name == "La horqueta de Echeverría",'lat'] = -34.897656
datatest.loc[datatest.place_name == "La horqueta de Echeverría",'lon'] = -58.484175

In [284]:
datatest.loc[datatest.place_name == "Malvinas Argentinas",'lat'] = -34.482412
datatest.loc[datatest.place_name == "Malvinas Argentinas",'lon'] = -58.717893

In [285]:
datatest.loc[datatest.place_name == "Prados del Oeste",'lat'] = -34.594077
datatest.loc[datatest.place_name == "Prados del Oeste",'lon'] = -58.829508

In [286]:
datatest.loc[datatest.place_name == "Solar del Bosque",'lat'] = -34.905555
datatest.loc[datatest.place_name == "Solar del Bosque",'lon'] = -58.507635

In [287]:
datatest.loc[datatest.place_name == "Sourigues",'lat'] = -34.800140
datatest.loc[datatest.place_name == "Sourigues",'lon'] = -58.220011

In [288]:
datatest.loc[datatest.place_name == "Terralagos",'lat'] = -34.907001
datatest.loc[datatest.place_name == "Terralagos",'lon'] = -58.514885

In [289]:
datatest.loc[datatest.place_name == "Villa Celina",'lat'] = -34.706311
datatest.loc[datatest.place_name == "Villa Celina",'lon'] = -58.483025

In [290]:
del datatest['lat-lon']

In [291]:
datatest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 16 columns):
id                         14166 non-null int64
created_on                 14166 non-null object
property_type              14166 non-null object
operation                  14166 non-null object
place_name                 14166 non-null object
place_with_parent_names    14166 non-null object
country_name               14166 non-null object
state_name                 14166 non-null object
lat                        14166 non-null float64
lon                        14166 non-null float64
surface_total_in_m2        11853 non-null float64
surface_covered_in_m2      13005 non-null float64
floor                      1368 non-null float64
rooms                      7500 non-null float64
expenses                   2543 non-null object
description                14166 non-null object
dtypes: float64(6), int64(1), object(9)
memory usage: 1.7+ MB

In [292]:
def property_type_to_num(x):
    if x == "departamento":
        return 0
    if x == "casa":
        return 1
    return 2

In [293]:
datatest['property_type'] = datatest['property_type'].apply(lambda x: property_type_to_num(x))

In [294]:
datatest.loc[datatest.surface_covered_in_m2 > datatest.surface_total_in_m2,'aux'] = \
datatest.loc[datatest.surface_covered_in_m2 > datatest.surface_total_in_m2, 'surface_covered_in_m2']

datatest.loc[datatest.surface_covered_in_m2 > datatest.surface_total_in_m2, 'surface_covered_in_m2'] = \
datatest.loc[datatest.surface_covered_in_m2 > datatest.surface_total_in_m2, 'surface_total_in_m2']

datatest.loc[datatest.aux > datatest.surface_total_in_m2, 'surface_total_in_m2'] = \
datatest.loc[datatest.aux > datatest.surface_total_in_m2, 'aux']

In [295]:
del datatest['aux']

In [296]:
datatest.loc[datatest.surface_total_in_m2 == 0, 'surface_total_in_m2'] = np.NaN

In [297]:
from sklearn.neighbors import KNeighborsRegressor

knn = KNeighborsRegressor(n_neighbors = 3, p = 1, weights = 'distance')

In [298]:
cond = ((datatest.surface_covered_in_m2.isnull()) & (datatest.surface_total_in_m2.isnull()))
rest = datatest[cond == False]
train = rest[rest.surface_covered_in_m2.notnull()]
rest = rest[rest.surface_covered_in_m2.isnull()]
test = datatest[cond]

In [299]:
knn.fit(train[['property_type', 'lat', 'lon']], train['surface_covered_in_m2'])

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=3, p=1,
          weights='distance')

In [300]:
predictions = knn.predict(test[['property_type', 'lat', 'lon']])

In [301]:
test= test.reset_index(drop = True)
test.surface_covered_in_m2 = pd.Series(predictions)

In [302]:
datatest = pd.concat([train, test, rest])

In [303]:
datatest = datatest.reset_index(drop = True)

In [304]:
datatest['covered/total'] = datatest['surface_covered_in_m2']/datatest['surface_total_in_m2']

In [305]:
rest = datatest[datatest.surface_total_in_m2.isnull()]
train = datatest[datatest.surface_total_in_m2.notnull()]
test = train[train['covered/total'].isnull()]
train = train[train['covered/total'].notnull()]

In [306]:
knn.fit(train[['property_type', 'lat', 'lon','surface_total_in_m2']], train['covered/total'])

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=3, p=1,
          weights='distance')

In [307]:
predictions = knn.predict(test[['property_type', 'lat', 'lon','surface_total_in_m2']])

In [308]:
test= test.reset_index(drop = True)
test['covered/total'] = pd.Series(predictions)
datatest = pd.concat([train, test, rest])
datatest = datatest.reset_index(drop = True)
datatest.loc[datatest['surface_covered_in_m2'].isnull(),'surface_covered_in_m2'] = datatest['surface_total_in_m2']*datatest['covered/total']

In [309]:
del datatest['covered/total']
datatest['covered/total'] = datatest['surface_covered_in_m2']/datatest['surface_total_in_m2']

In [310]:
test = datatest[datatest['covered/total'].isnull()]
train = datatest[datatest['covered/total'].notnull()]

In [311]:
knn.fit(train[['property_type', 'lat', 'lon','surface_covered_in_m2']], train['covered/total'])

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=3, p=1,
          weights='distance')

In [312]:
predictions = knn.predict(test[['property_type', 'lat', 'lon','surface_covered_in_m2']])

In [313]:
test= test.reset_index(drop = True)
test['covered/total'] = pd.Series(predictions)
datatest = pd.concat([train, test])
datatest = datatest.reset_index(drop = True)

In [314]:
datatest.loc[datatest.surface_total_in_m2.isnull(),'surface_total_in_m2'] = datatest['surface_covered_in_m2']/datatest['covered/total']
del datatest['covered/total']

In [315]:
datatest.loc[datatest.floor > 100, 'floor'] = np.NaN

In [316]:
test = datatest[datatest['floor'].isnull()]
train = datatest[datatest['floor'].notnull()]

In [317]:
knn.fit(train[['property_type', 'lat', 'lon','surface_covered_in_m2','surface_total_in_m2']], train['floor'])

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=3, p=1,
          weights='distance')

In [318]:
predictions = knn.predict(test[['property_type', 'lat', 'lon','surface_covered_in_m2','surface_total_in_m2']])

In [319]:
test= test.reset_index(drop = True)
test['floor'] = pd.Series(predictions)
datatest = pd.concat([train, test])
datatest = datatest.reset_index(drop = True)

In [320]:
datatest['floor'] = datatest['floor'].apply(lambda x: (float)((int)(x)))

In [321]:
datatest.loc[datatest.rooms>16,'rooms'] = np.NaN

In [322]:
test = datatest[datatest['rooms'].isnull()]
train = datatest[datatest['rooms'].notnull()]

In [323]:
knn.fit(train[['property_type', 'lat', 'lon','surface_covered_in_m2','surface_total_in_m2','floor']], train['rooms'])

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=3, p=1,
          weights='distance')

In [324]:
predictions = knn.predict(test[['property_type', 'lat', 'lon','surface_covered_in_m2','surface_total_in_m2','floor']])

In [325]:
test= test.reset_index(drop = True)
test['rooms'] = pd.Series(predictions)
datatest = pd.concat([train, test])
datatest = datatest.reset_index(drop = True)

In [326]:
datatest['rooms'] = datatest['rooms'].apply(lambda x: (float)((int)(x)))

In [327]:
datatest['rooms'] = datatest['rooms'].apply(lambda x: 1.0 if x<1 else x)

In [328]:
datatest.loc[datatest.expenses.str.isdigit() == False,'expenses'] = np.NaN

In [329]:
datatest['expenses'] = datatest['expenses'].apply(lambda x : float(x))

In [330]:
datatest.loc[datatest.expenses >50000,'expenses'] = np.NaN

In [331]:
test = datatest[datatest['expenses'].isnull()]
train = datatest[datatest['expenses'].notnull()]

In [332]:
knn.fit(train[['property_type', 'lat', 'lon','surface_covered_in_m2','surface_total_in_m2','floor','rooms']], train['expenses'])

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=3, p=1,
          weights='distance')

In [333]:
predictions = knn.predict(test[['property_type', 'lat', 'lon','surface_covered_in_m2','surface_total_in_m2','floor','rooms']])

In [334]:
test= test.reset_index(drop = True)
test['expenses'] = pd.Series(predictions)
datatest = pd.concat([train, test])
datatest = datatest.reset_index(drop = True)

In [335]:
datatest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 16 columns):
id                         14166 non-null int64
created_on                 14166 non-null object
property_type              14166 non-null int64
operation                  14166 non-null object
place_name                 14166 non-null object
place_with_parent_names    14166 non-null object
country_name               14166 non-null object
state_name                 14166 non-null object
lat                        14166 non-null float64
lon                        14166 non-null float64
surface_total_in_m2        14166 non-null float64
surface_covered_in_m2      14166 non-null float64
floor                      14166 non-null float64
rooms                      14166 non-null float64
expenses                   14166 non-null float64
description                14166 non-null object
dtypes: float64(7), int64(2), object(7)
memory usage: 1.7+ MB

In [337]:
datatest.to_csv("csvs/datatestSinNan.csv", index = False)