In [113]:
import pandas as pd
import numpy as np

In [114]:
data = pd.read_csv('csvs/datosFiltrados.csv', low_memory=False)

In [115]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158352 entries, 0 to 158351
Data columns (total 12 columns):
created_on                 158352 non-null object
description                158352 non-null object
expenses                   21572 non-null float64
floor                      18702 non-null float64
lat                        158352 non-null float64
lon                        158352 non-null float64
place_with_parent_names    158352 non-null object
price_aprox_usd            158352 non-null float64
property_type              158352 non-null object
rooms                      97155 non-null float64
surface_covered_in_m2      139468 non-null float64
surface_total_in_m2        112609 non-null float64
dtypes: float64(8), object(4)
memory usage: 14.5+ MB

In [116]:
data.loc[data.expenses.notnull(), 'expenses/price'] = data['expenses']/data['price_aprox_usd']

In [117]:
meanHouse = data[data['property_type'] == 'house']['expenses/price'].mean()
meanApart = data[data['property_type'] == 'apartment']['expenses/price'].mean()
meanPH = data[data['property_type'] == 'PH']['expenses/price'].mean()
meanStore = data[data['property_type'] == 'store']['expenses/price'].mean()

data.loc[data['property_type'] == "apartment",'expenses/price'] = data['expenses/price'].apply(lambda x: meanApart if np.isnan(x) else x)
data.loc[data['property_type'] == "house",'expenses/price'] = data['expenses/price'].apply(lambda x: meanHouse if np.isnan(x) else x)
data.loc[data['property_type'] == "PH",'expenses/price'] = data['expenses/price'].apply(lambda x: meanPH if np.isnan(x) else x)
data.loc[data['property_type'] == "store",'expenses/price'] = data['expenses/price'].apply(lambda x: meanStore if np.isnan(x) else x)

In [118]:
data.loc[data.expenses.isnull(), 'expenses'] = data['expenses/price']*data['price_aprox_usd']
del data['expenses/price']

In [119]:
data.loc[data.surface_total_in_m2.notnull(), 'surface/price'] = data['surface_total_in_m2']/data['price_aprox_usd']

In [120]:
meanHouse = data[data['property_type'] == 'house']['surface/price'].mean()
meanApart = data[data['property_type'] == 'apartment']['surface/price'].mean()
meanPH = data[data['property_type'] == 'PH']['surface/price'].mean()
meanStore = data[data['property_type'] == 'store']['surface/price'].mean()

data.loc[data['property_type'] == "apartment",'surface/price'] = data['surface/price'].apply(lambda x: meanApart if np.isnan(x) else x)
data.loc[data['property_type'] == "house",'surface/price'] = data['surface/price'].apply(lambda x: meanHouse if np.isnan(x) else x)
data.loc[data['property_type'] == "PH",'surface/price'] = data['surface/price'].apply(lambda x: meanPH if np.isnan(x) else x)
data.loc[data['property_type'] == "store",'surface/price'] = data['surface/price'].apply(lambda x: meanStore if np.isnan(x) else x)

In [122]:
data.loc[data.surface_total_in_m2.isnull(), 'surface_total_in_m2'] = data['surface/price']*data['price_aprox_usd']
del data['surface/price']

In [123]:
data.loc[data.surface_covered_in_m2.notnull(), 'surface/price'] = data['surface_covered_in_m2']*data['price_aprox_usd']/data['surface_total_in_m2']

In [124]:
meanHouse = data[data['property_type'] == 'house']['surface/price'].mean()
meanApart = data[data['property_type'] == 'apartment']['surface/price'].mean()
meanPH = data[data['property_type'] == 'PH']['surface/price'].mean()
meanStore = data[data['property_type'] == 'store']['surface/price'].mean()

data.loc[data['property_type'] == "apartment",'surface/price'] = data['surface/price'].apply(lambda x: meanApart if np.isnan(x) else x)
data.loc[data['property_type'] == "house",'surface/price'] = data['surface/price'].apply(lambda x: meanHouse if np.isnan(x) else x)
data.loc[data['property_type'] == "PH",'surface/price'] = data['surface/price'].apply(lambda x: meanPH if np.isnan(x) else x)
data.loc[data['property_type'] == "store",'surface/price'] = data['surface/price'].apply(lambda x: meanStore if np.isnan(x) else x)

In [125]:
data.loc[data.surface_covered_in_m2.isnull(),'surface_covered_in_m2'] = data['surface/price']*data['surface_total_in_m2']/data['price_aprox_usd']
del data['surface/price']

In [126]:
data.loc[data.rooms.notnull(), 'rooms*price'] = data['rooms']*data['price_aprox_usd']

In [127]:
meanHouse = data[data['property_type'] == 'house']['rooms*price'].mean()
meanApart = data[data['property_type'] == 'apartment']['rooms*price'].mean()
meanPH = data[data['property_type'] == 'PH']['rooms*price'].mean()
meanStore = data[data['property_type'] == 'store']['rooms*price'].mean()

data.loc[data['property_type'] == "apartment",'rooms*price'] = data['rooms*price'].apply(lambda x: meanApart if np.isnan(x) else x)
data.loc[data['property_type'] == "house",'rooms*price'] = data['rooms*price'].apply(lambda x: meanHouse if np.isnan(x) else x)
data.loc[data['property_type'] == "PH",'rooms*price'] = data['rooms*price'].apply(lambda x: meanPH if np.isnan(x) else x)
data.loc[data['property_type'] == "store",'rooms*price'] = data['rooms*price'].apply(lambda x: meanStore if np.isnan(x) else x)

In [128]:
data.loc[data.rooms.isnull(),'rooms'] = data['rooms*price']/data['price_aprox_usd']
del data['rooms*price']

In [129]:
data['rooms'] = data['rooms'].apply(lambda x: (float)((int)(x)))

In [130]:
data.loc[data.floor.notnull(), 'floor*price'] = data['floor']*data['price_aprox_usd']

In [131]:
meanHouse = data[data['property_type'] == 'house']['floor*price'].mean()
meanApart = data[data['property_type'] == 'apartment']['floor*price'].mean()
meanPH = data[data['property_type'] == 'PH']['floor*price'].mean()
meanStore = data[data['property_type'] == 'store']['floor*price'].mean()

data.loc[data['property_type'] == "apartment",'floor*price'] = data['floor*price'].apply(lambda x: meanApart if np.isnan(x) else x)
data.loc[data['property_type'] == "house",'floor*price'] = data['floor*price'].apply(lambda x: meanHouse if np.isnan(x) else x)
data.loc[data['property_type'] == "PH",'floor*price'] = data['floor*price'].apply(lambda x: meanPH if np.isnan(x) else x)
data.loc[data['property_type'] == "store",'floor*price'] = data['floor*price'].apply(lambda x: meanStore if np.isnan(x) else x)

In [132]:
data.loc[data.floor.isnull(),'floor'] = data['floor*price']/data['price_aprox_usd']
del data['floor*price']

In [133]:
data['floor'] = data['floor'].apply(lambda x: (float)((int)(x)))

In [141]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158352 entries, 0 to 158351
Data columns (total 12 columns):
created_on                 158352 non-null object
description                158352 non-null object
expenses                   158352 non-null float64
floor                      158352 non-null float64
lat                        158352 non-null float64
lon                        158352 non-null float64
place_with_parent_names    158352 non-null object
price_aprox_usd            158352 non-null float64
property_type              158352 non-null object
rooms                      158352 non-null float64
surface_covered_in_m2      158352 non-null float64
surface_total_in_m2        158352 non-null float64
dtypes: float64(8), object(4)
memory usage: 14.5+ MB

In [135]:
data.to_csv("csvs/datosSinNan.csv", index = False)