In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('csvs/datosSinDuplicados.csv', low_memory=False)

In [3]:
data.drop_duplicates('id', keep = 'last', inplace = True)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 163260 entries, 0 to 182406
Data columns (total 28 columns):
country_name                  163260 non-null object
created_on                    163260 non-null object
currency                      159636 non-null object
description                   163260 non-null object
expenses                      23131 non-null float64
floor                         19585 non-null float64
geonames_id                   130373 non-null float64
id                            163260 non-null object
image_thumbnail               30237 non-null object
lat                           163260 non-null float64
lat-lon                       163260 non-null object
lon                           163260 non-null float64
operation                     30237 non-null object
place_name                    163206 non-null object
place_with_parent_names       163260 non-null object
price                         163260 non-null float64
price_aprox_local_currency    163260 non-null float64
price_aprox_usd               163260 non-null float64
price_per_m2                  141503 non-null float64
price_usd_per_m2              113089 non-null float64
properati_url                 30237 non-null object
property_type                 163260 non-null object
rooms                         100416 non-null float64
state_name                    163260 non-null object
surface_covered_in_m2         145505 non-null float64
surface_total_in_m2           121590 non-null float64
title                         163260 non-null object
duplicado                     163260 non-null bool
dtypes: bool(1), float64(13), object(14)
memory usage: 35.0+ MB

In [5]:
del data['country_name']
del data['geonames_id']
del data['image_thumbnail']
del data['id']
del data['lat-lon']
del data['operation']
del data['place_name']
del data['properati_url']
del data['state_name']
del data['duplicado']
del data['title']
del data['price']
del data['currency']
del data['price_per_m2']
del data['price_aprox_local_currency']
del data['price_usd_per_m2']
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 163260 entries, 0 to 182406
Data columns (total 12 columns):
created_on                 163260 non-null object
description                163260 non-null object
expenses                   23131 non-null float64
floor                      19585 non-null float64
lat                        163260 non-null float64
lon                        163260 non-null float64
place_with_parent_names    163260 non-null object
price_aprox_usd            163260 non-null float64
property_type              163260 non-null object
rooms                      100416 non-null float64
surface_covered_in_m2      145505 non-null float64
surface_total_in_m2        121590 non-null float64
dtypes: float64(8), object(4)
memory usage: 16.2+ MB

In [6]:
data.loc[data.floor > 70, 'floor'] = np.NaN

In [7]:
data.loc[data.rooms > 12, 'rooms'] = np.NaN

In [8]:
data.loc[data.surface_total_in_m2 < 1, 'surface_total_in_m2'] = np.NaN

In [9]:
data.loc[((data.surface_total_in_m2 > 70000) & (data.property_type == "apartment")), 'surface_total_in_m2'] = np.NaN

In [10]:
data.loc[data.surface_covered_in_m2 < 1, 'surface_covered_in_m2'] = np.NaN

In [11]:
data.loc[data.surface_covered_in_m2 > data.surface_total_in_m2, 'surface_covered_in_m2'] = np.NaN

In [12]:
data.loc[data.expenses < 150, 'expenses'] = np.NaN

In [13]:
data.loc[data.expenses > 150000, 'expenses'] = np.NaN

In [14]:
data = data.loc[(data.lat<-34) & (data.lat>-35) & (data.lon>-60) & (data.lon<-57.5)]

In [15]:
data = data[data.price_aprox_usd!=0]

In [16]:
data = data.reset_index(drop = True)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158352 entries, 0 to 158351
Data columns (total 12 columns):
created_on                 158352 non-null object
description                158352 non-null object
expenses                   21572 non-null float64
floor                      18702 non-null float64
lat                        158352 non-null float64
lon                        158352 non-null float64
place_with_parent_names    158352 non-null object
price_aprox_usd            158352 non-null float64
property_type              158352 non-null object
rooms                      97155 non-null float64
surface_covered_in_m2      139468 non-null float64
surface_total_in_m2        112609 non-null float64
dtypes: float64(8), object(4)
memory usage: 14.5+ MB

In [18]:
data.to_csv("csvs/datosFiltrados.csv", index = False)