In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
data1 = pd.read_csv('csvs/properati-AR-2016-01-01-properties-sell.csv')
data2 = pd.read_csv('csvs/properati-AR-2016-02-01-properties-sell.csv')
data3 = pd.read_csv('csvs/properati-AR-2016-03-01-properties-sell.csv')
data4 = pd.read_csv('csvs/properati-AR-2016-04-01-properties-sell.csv')
data5 = pd.read_csv('csvs/properati-AR-2016-05-01-properties-sell.csv')
data6 = pd.read_csv('csvs/properati-AR-2016-06-01-properties-sell.csv')
data7 = pd.read_csv('csvs/properati-AR-2016-07-01-properties-sell.csv')
data8 = pd.read_csv('csvs/properati-AR-2016-08-01-properties-sell.csv')
data9 = pd.read_csv('csvs/properati-AR-2016-09-01-properties-sell.csv')
data10 = pd.read_csv('csvs/properati-AR-2016-10-01-properties-sell.csv')
data11 = pd.read_csv('csvs/properati-AR-2016-11-01-properties-sell.csv')
data12 = pd.read_csv('csvs/properati-AR-2016-12-01-properties-sell.csv')
data13 = pd.read_csv('csvs/properati-AR-2017-01-01-properties-sell.csv')
data14 = pd.read_csv('csvs/properati-AR-2017-02-01-properties-sell.csv')
data15 = pd.read_csv('csvs/properati-AR-2017-03-01-properties-sell.csv')
data16 = pd.read_csv('csvs/properati-AR-2017-04-01-properties-sell.csv')
data17 = pd.read_csv('csvs/properati-AR-2017-05-01-properties-sell.csv')
data18 = pd.read_csv('csvs/properati-AR-2017-06-01-properties-sell.csv')
data19 = pd.read_csv('csvs/properati-AR-2017-06-06-properties-sell.csv')
data20 = pd.read_csv('csvs/properati-AR-2017-07-03-properties-sell.csv')
data21 = pd.read_csv('csvs/properati-AR-2017-08-01-properties-sell.csv')
data22 = pd.read_csv('csvs/properati-AR-2017-09-01-properties-sell-six_months.csv')
data23 = pd.read_csv('csvs/properati-AR-2017-10-01-properties-sell.csv')

In [14]:
col = list(data1.columns)

In [15]:
data = pd.concat([data1, data2, data3, data4, data5, data6, data7, data8, data9, data10, \
                 data11, data12, data13, data14, data15, data16, data17, data18, data19, data20, \
                 data21, data22, data23])

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1316434 entries, 0 to 196718
Data columns (total 27 columns):
country_name                  1316434 non-null object
created_on                    1316434 non-null object
currency                      1145291 non-null object
description                   1316356 non-null object
expenses                      142854 non-null float64
floor                         139886 non-null float64
geonames_id                   1053967 non-null float64
id                            1316434 non-null object
image_thumbnail               318274 non-null object
lat                           952738 non-null float64
lat-lon                       952738 non-null object
lon                           952738 non-null float64
operation                     324886 non-null object
place_name                    1316152 non-null object
place_with_parent_names       1316434 non-null object
price                         1162149 non-null float64
price_aprox_local_currency    1162149 non-null float64
price_aprox_usd               1162149 non-null float64
price_per_m2                  1011651 non-null float64
price_usd_per_m2              819976 non-null float64
properati_url                 324886 non-null object
property_type                 1316434 non-null object
rooms                         789737 non-null float64
state_name                    1316434 non-null object
surface_covered_in_m2         1147593 non-null float64
surface_total_in_m2           976190 non-null float64
title                         1316434 non-null object
dtypes: float64(13), object(14)
memory usage: 281.2+ MB

In [17]:
data=data.dropna(subset=['lat-lon']).reset_index(drop = True)

In [18]:
data = data.loc[(data.place_with_parent_names.str.contains('Capital Federal')) | (data.place_with_parent_names.str.contains('G.B.A.'))]

In [19]:
data.to_csv("csvs/datosConDuplicados.csv", index = False)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 875661 entries, 0 to 952737
Data columns (total 27 columns):
country_name                  875661 non-null object
created_on                    875661 non-null object
currency                      767011 non-null object
description                   875641 non-null object
expenses                      110161 non-null float64
floor                         96544 non-null float64
geonames_id                   690233 non-null float64
id                            875661 non-null object
image_thumbnail               130399 non-null object
lat                           875661 non-null float64
lat-lon                       875661 non-null object
lon                           875661 non-null float64
operation                     130399 non-null object
place_name                    875379 non-null object
place_with_parent_names       875661 non-null object
price                         781422 non-null float64
price_aprox_local_currency    781422 non-null float64
price_aprox_usd               781422 non-null float64
price_per_m2                  677973 non-null float64
price_usd_per_m2              556249 non-null float64
properati_url                 130399 non-null object
property_type                 875661 non-null object
rooms                         554343 non-null float64
state_name                    875661 non-null object
surface_covered_in_m2         763140 non-null float64
surface_total_in_m2           663887 non-null float64
title                         875661 non-null object
dtypes: float64(13), object(14)
memory usage: 187.1+ MB