# <center>Informe Trabajo Práctico 2</center>

## Integrantes:

#### Condorí, Guillermo   98688
#### Cajachuán, Kevin    98725
#### Avigliano, Patricio    98861

# Adaptación del set de datos

## Join de los datos
En este notebook nos encargamos de juntar todos los csvs de datos a utilizar en un unico csv para trabajar.

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
data1 = pd.read_csv('csvs/properati-AR-2016-01-01-properties-sell.csv')
data2 = pd.read_csv('csvs/properati-AR-2016-02-01-properties-sell.csv')
data3 = pd.read_csv('csvs/properati-AR-2016-03-01-properties-sell.csv')
data4 = pd.read_csv('csvs/properati-AR-2016-04-01-properties-sell.csv')
data5 = pd.read_csv('csvs/properati-AR-2016-05-01-properties-sell.csv')
data6 = pd.read_csv('csvs/properati-AR-2016-06-01-properties-sell.csv')
data7 = pd.read_csv('csvs/properati-AR-2016-07-01-properties-sell.csv')
data8 = pd.read_csv('csvs/properati-AR-2016-08-01-properties-sell.csv')
data9 = pd.read_csv('csvs/properati-AR-2016-09-01-properties-sell.csv')
data10 = pd.read_csv('csvs/properati-AR-2016-10-01-properties-sell.csv')
data11 = pd.read_csv('csvs/properati-AR-2016-11-01-properties-sell.csv')
data12 = pd.read_csv('csvs/properati-AR-2016-12-01-properties-sell.csv')
data13 = pd.read_csv('csvs/properati-AR-2017-01-01-properties-sell.csv')
data14 = pd.read_csv('csvs/properati-AR-2017-02-01-properties-sell.csv')
data15 = pd.read_csv('csvs/properati-AR-2017-03-01-properties-sell.csv')
data16 = pd.read_csv('csvs/properati-AR-2017-04-01-properties-sell.csv')
data17 = pd.read_csv('csvs/properati-AR-2017-05-01-properties-sell.csv')
data18 = pd.read_csv('csvs/properati-AR-2017-06-01-properties-sell.csv')
data19 = pd.read_csv('csvs/properati-AR-2017-06-06-properties-sell.csv')
data20 = pd.read_csv('csvs/properati-AR-2017-07-03-properties-sell.csv')
data21 = pd.read_csv('csvs/properati-AR-2017-08-01-properties-sell.csv')
data22 = pd.read_csv('csvs/properati-AR-2017-09-01-properties-sell-six_months.csv')
data23 = pd.read_csv('csvs/properati-AR-2017-10-01-properties-sell.csv')

In [15]:
data = pd.concat([data1, data2, data3, data4, data5, data6, data7, data8, data9, data10, \
                 data11, data12, data13, data14, data15, data16, data17, data18, data19, data20, \
                 data21, data22, data23])

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1316434 entries, 0 to 196718
Data columns (total 27 columns):
country_name                  1316434 non-null object
created_on                    1316434 non-null object
currency                      1145291 non-null object
description                   1316356 non-null object
expenses                      142854 non-null float64
floor                         139886 non-null float64
geonames_id                   1053967 non-null float64
id                            1316434 non-null object
image_thumbnail               318274 non-null object
lat                           952738 non-null float64
lat-lon                       952738 non-null object
lon                           952738 non-null float64
operation                     324886 non-null object
place_name                    1316152 non-null object
place_with_parent_names       1316434 non-null object
price                         1162149 non-null float64
price_aprox_local_currency    1162149 non-null float64
price_aprox_usd               1162149 non-null float64
price_per_m2                  1011651 non-null float64
price_usd_per_m2              819976 non-null float64
properati_url                 324886 non-null object
property_type                 1316434 non-null object
rooms                         789737 non-null float64
state_name                    1316434 non-null object
surface_covered_in_m2         1147593 non-null float64
surface_total_in_m2           976190 non-null float64
title                         1316434 non-null object
dtypes: float64(13), object(14)
memory usage: 281.2+ MB

In [17]:
data=data.dropna(subset=['lat-lon']).reset_index(drop = True)

In [18]:
data = data.loc[(data.place_with_parent_names.str.contains('Capital Federal')) | \
                (data.place_with_parent_names.str.contains('G.B.A.'))]

In [19]:
data.to_csv("csvs/datosConDuplicados.csv", index = False)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 875661 entries, 0 to 952737
Data columns (total 27 columns):
country_name                  875661 non-null object
created_on                    875661 non-null object
currency                      767011 non-null object
description                   875641 non-null object
expenses                      110161 non-null float64
floor                         96544 non-null float64
geonames_id                   690233 non-null float64
id                            875661 non-null object
image_thumbnail               130399 non-null object
lat                           875661 non-null float64
lat-lon                       875661 non-null object
lon                           875661 non-null float64
operation                     130399 non-null object
place_name                    875379 non-null object
place_with_parent_names       875661 non-null object
price                         781422 non-null float64
price_aprox_local_currency    781422 non-null float64
price_aprox_usd               781422 non-null float64
price_per_m2                  677973 non-null float64
price_usd_per_m2              556249 non-null float64
properati_url                 130399 non-null object
property_type                 875661 non-null object
rooms                         554343 non-null float64
state_name                    875661 non-null object
surface_covered_in_m2         763140 non-null float64
surface_total_in_m2           663887 non-null float64
title                         875661 non-null object
dtypes: float64(13), object(14)
memory usage: 187.1+ MB

Eliminamos algunos registros que no tienen campos fundamentales o estan fuera del rango geografico donde vamos a trabajar.

## Eliminar duplicados
En este notebook nos encargamos de eliminar registros que aparecen repetidos en nuestro set de datos. Para hacer esto optamos por ordenar el arreglo por ubicacion geografica y por descripcion, de manera que registros con la misma ubicacion y descripcion (esos son los que vamos a considerar repetidos) queden juntos.
Luego al recorrer el arreglo agregamos una columna que indica si el registro debe eliminarse o no.

In [2]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data = pd.read_csv('csvs/datosConDuplicados.csv', low_memory=False)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 875661 entries, 0 to 875660
Data columns (total 27 columns):
country_name                  875661 non-null object
created_on                    875661 non-null object
currency                      767011 non-null object
description                   875641 non-null object
expenses                      110161 non-null float64
floor                         96544 non-null float64
geonames_id                   690233 non-null float64
id                            875661 non-null object
image_thumbnail               130399 non-null object
lat                           875661 non-null float64
lat-lon                       875661 non-null object
lon                           875661 non-null float64
operation                     130399 non-null object
place_name                    875379 non-null object
place_with_parent_names       875661 non-null object
price                         781422 non-null float64
price_aprox_local_currency    781422 non-null float64
price_aprox_usd               781422 non-null float64
price_per_m2                  677973 non-null float64
price_usd_per_m2              556249 non-null float64
properati_url                 130399 non-null object
property_type                 875661 non-null object
rooms                         554343 non-null float64
state_name                    875661 non-null object
surface_covered_in_m2         763140 non-null float64
surface_total_in_m2           663887 non-null float64
title                         875661 non-null object
dtypes: float64(13), object(14)
memory usage: 180.4+ MB

In [5]:
data=data.dropna(subset=['description'])

In [6]:
data.sort_values(by = ['lat-lon','description'], inplace=True)

In [7]:
data = data[data.price_aprox_usd.notnull()]

In [8]:
data = data.reset_index(drop = True)

In [9]:
data['duplicado']=True;
i=0
while i < (len(data.index)):
    j = i + 1
    while((data.loc[i,'lat-lon'] == data.loc[j,'lat-lon']) & (data.loc[i,'description'] == data.loc[j,'description'])):
        j = j + 1
        if(j == len(data.index)):
            break;
    maxi = -1
    max_idx = i
    for x in range(i,j):
        if data.loc[x,'price_aprox_usd'] > maxi:
            maxi = data.loc[x,'price_aprox_usd']
            max_idx = x
    data.loc[max_idx,'duplicado']=False
    i = j;

In [10]:
data = data.loc[data.duplicado == False]

Aqui nos deshacemos de los elementos que aparecen duplicados. Un detalle para nada menor es el criterio con que se selecciona el registro que sobrevivirá al encontrar varios registros que hacen referencia a la misma propiedad.
Probamos 3 criterios distintos: 

1) El registro que tiene menor precio sobrevive 

2) El registro que tiene mayor precio sobrevive 

3) Se calcula el promedio entre el mayor y menor precio encontrado 

Despues de probar los 3 criterios observamos que el que arrojaba mejores resultados era el numero 2 y ese fue el criterio que elegimos.

In [15]:
data[data['lat-lon'] == '-34.3402525,-58.7849434']

,country_name,created_on,currency,description,expenses,floor,geonames_id,id,image_thumbnail,lat,...,price_per_m2,price_usd_per_m2,properati_url,property_type,rooms,state_name,surface_covered_in_m2,surface_total_in_m2,title,duplicado
3048,Argentina,2017-08-27,USD,EXCELENTE CASA DESARROLL...,NaN,NaN,3434130.0,f60bd2e07f7a54b9c4909b41379e2e0588f5f011,https://thumbs4.properati.com/4/oD59x_ZhYo-7ZB...,-34.340253,...,1516.587678,1516.587678,http://www.properati.com.ar/1dx7w_venta_depart...,house,1.0,Bs.As. G.B.A. Zona Norte,211.0,211.0,Country El Cantón - Escobar - Bs.As. G.B.A. Zo...,False
3049,Argentina,2017-08-27,USD,CONTACTO 155411811313 ...,NaN,NaN,NaN,ce2b63f1ab2931d49bcb9d68910cebd39c470bd3,https://thumbs4.properati.com/6/Vj2f_Onb7LPyb8...,-34.340253,...,1350.000000,1350.000000,http://www.properati.com.ar/1dx7e_venta_depart...,house,1.0,Bs.As. G.B.A. Zona Norte,200.0,200.0,Country San Matías - Escobar - Bs.As. G.B.A. Z...,False
3051,Argentina,2017-08-27,USD,MUY BUENA CASA EN CONSTRUCC...,NaN,NaN,3434130.0,99800c7ceb8090ca8cde2ee4711fc6fa97d301ee,https://thumbs4.properati.com/2/3ZIieJnZg1jIqb...,-34.340253,...,1121.951220,1121.951220,http://www.properati.com.ar/1dx7q_venta_depart...,house,1.0,Bs.As. G.B.A. Zona Norte,205.0,205.0,Country El Cantón - Escobar - Bs.As. G.B.A. Zo...,False
3052,Argentina,2017-08-27,USD,CONTACTO 155411117701 ...,NaN,NaN,NaN,988704da493999ff7999f03f4913b2478a706eb1,https://thumbs4.properati.com/0/QBPERFZagD28hc...,-34.340253,...,1187.500000,1187.500000,http://www.properati.com.ar/1dwz8_venta_depart...,house,1.0,Bs.As. G.B.A. Zona Norte,160.0,160.0,Country San Matías - Escobar - Bs.As. G.B.A. Z...,False
3056,Argentina,2017-08-27,USD,MUY BUENA CASA DESARROLLADA EN ...,NaN,NaN,3434130.0,acf10d95a0119cf4b2a239f46620433bea621bbe,https://thumbs4.properati.com/6/GCvm9oAlH32d97...,-34.340253,...,1118.012422,1118.012422,http://www.properati.com.ar/1dx7u_venta_depart...,house,1.0,Bs.As. G.B.A. Zona Norte,161.0,161.0,Country El Cantón - Escobar - Bs.As. G.B.A. Zo...,False
3057,Argentina,2017-08-27,USD,EXCELENTE CASA DESARROLLADA EN D...,NaN,NaN,3434130.0,7dd775031b1199e4f8f334206421554059086951,https://thumbs4.properati.com/0/DzWlZshD5Ma53Z...,-34.340253,...,1222.222222,1222.222222,http://www.properati.com.ar/1dx7t_venta_depart...,house,NaN,Bs.As. G.B.A. Zona Norte,180.0,180.0,Country El Cantón - Escobar - Bs.As. G.B.A. Zo...,False
3058,Argentina,2017-08-27,USD,EXCELENTE CASA SOBRE LOTE AL AGU...,NaN,NaN,3434130.0,19300c7eb1d155a9ef0406cc256a373a65be1e32,https://thumbs4.properati.com/3/b1Lk71i5y2wsVs...,-34.340253,...,1272.000000,1272.000000,http://www.properati.com.ar/1dx7j_venta_depart...,house,1.0,Bs.As. G.B.A. Zona Norte,250.0,250.0,Country El Cantón - Escobar - Bs.As. G.B.A. Zo...,False
3059,Argentina,2017-08-26,USD,CLAUDIA: 034815431117705 ...,NaN,NaN,3434130.0,25d30cbe1f71932904e42018b213741299fbc059,https://thumbs4.properati.com/0/28YUhFh7U386cD...,-34.340253,...,1196.319018,1196.319018,http://www.properati.com.ar/1dvj7_venta_depart...,house,1.0,Bs.As. G.B.A. Zona Norte,163.0,163.0,Country El Cantón - Escobar - Bs.As. G.B.A. Zo...,False
3062,Argentina,2017-08-27,USD,MUY BUENA CASA DESARROLLADA EN UN...,NaN,NaN,3434130.0,ab0005918d42411c91ed4cfc599c6f35a68d1b86,https://thumbs4.properati.com/3/jdk220i93KP2CH...,-34.340253,...,1235.294118,1235.294118,http://www.properati.com.ar/1dx8e_venta_depart...,house,NaN,Bs.As. G.B.A. Zona Norte,170.0,170.0,Country El Cantón - Escobar - Bs.As. G.B.A. Zo...,False
3063,Argentina,2017-08-27,USD,MUY BUENA CASA SOBRE LOTE AL AGUA...,NaN,NaN,3434130.0,eea376cb576d6ab82fe7a8e2746491b06198733e,https://thumbs4.properati.com/4/4udqByg7CHCU6Y...,-34.340253,...,1277.777778,1277.777778,http://www.properati.com.ar/1dx86_venta_depart...,house,1.0,Bs.As. G.B.A. Zona Norte,180.0,180.0,Country El Cantón - Escobar - Bs.As. G.B.A. Zo...,False
3064,Argentina,2017-08-27,USD,CONTACTO : GUSTAVO 1551811313- 15541...,NaN,NaN,NaN,9146e1cc2724d8079623246f0a96c34bbe21ffbc,https://thumbs4.properati.com/7/FANhZv5cBoB33a...,-34.340253,...,1335.616438,1335.616438,http://www.properati.com.ar/1dx6z_venta_depart...,house,1.0,Bs.As. G.B.A. Zona Norte,146.0,146.0,Country San Matías - Escobar - Bs.As. G.B.A. Z...,False
3068,Argentina,2017-08-26,USD,CLAUDIA: 034815431117705/28 ...,NaN,NaN,3434130.0,ef02a51f90ada4bf4227c67bba855c4d93b5ca15,https://thumbs4.properati.com/3/CGtxU61UHpfn7Y...,-34.340253,...,1357.142857,1357.142857,http://www.properati.com.ar/1dvj9_venta_depart...,house,1.0,Bs.As. G.B.A. Zona Norte,140.0,140.0,Country El Cantón - Escobar - Bs.As. G.B.A. Zo...,False
3070,Argentina,2017-08-27,USD,CONTACTO 155411811313 MUY...,NaN,NaN,NaN,bff722e3976db324573e97c2bbac39fb094101ce,https://thumbs4.properati.com/8/FiHmL85-XR4A1J...,-34.340253,...,1258.278146,1258.278146,http://www.properati.com.ar/1dx7c_venta_depart...,house,1.0,Bs.As. G.B.A. Zona Norte,151.0,151.0,Country San Matías - Escobar - Bs.As. G.B.A. Z...,False
3072,Argentina,2017-08-27,USD,CONTACTO : 155181117728 MUY B...,NaN,NaN,NaN,f7698eafa29f9842007b783ed17deda173285e6a,https://thumbs4.properati.com/7/ofHQ2_Id_rvLCQ...,-34.340253,...,1500.000000,1500.000000,http://www.properati.com.ar/1dx6i_venta_depart...,apartment,1.0,Bs.As. G.B.A. Zona Norte,140.0,140.0,Country San Matías - Escobar - Bs.As. G.B.A. Z...,False
3074,Argentina,2017-08-27,USD,CONTACTO : GUSTAVO 155181117728 MUY BUENA ...,NaN,NaN,3434130.0,76e9f2581b6906180186a9baedb157987e1e9e28,https://thumbs4.properati.com/5/yVVvOGOc3I2erb...,-34.340253,...,1194.444444,1194.444444,http://www.properati.com.ar/1dx8m_venta_depart...,apartment,1.0,Bs.As. G.B.A. Zona Norte,180.0,180.0,Country El Cantón - Escobar - Bs.As. G.B.A. Zo...,False
3075,Argentina,2017-08-27,USD,CONTACTO 155411154312955 Claudia Muy bu...,NaN,NaN,NaN,0a090ead22ed6f04eb332f8e56da63ac751c0587,https://thumbs4.properati.com/8/N6ue8azW8bJ8jA...,-34.340253,...,1100.000000,1100.000000,http://www.properati.com.ar/1dx2v_venta_depart...,house,1.0,Bs.As. G.B.A. Zona Norte,180.0,180.0,Country San Matías - Escobar - Bs.As. G.B.A. Z...,False
3079,Argentina,2017-08-26,USD,CONTACTO 155523117728 MUY BUENA CASA DESA...,NaN,NaN,NaN,baf5e3719ff5c677f7ba1c9e04114ceaec885220,https://thumbs4.properati.com/8/g_iDjgKe7Vd3IL...,-34.340253,...,1178.343949,1178.343949,http://www.properati.com.ar/1dv5o_venta_depart...,apartment,1.0,Bs.As. G.B.A. Zona Norte,157.0,157.0,Barrio Cerrado Haras Santa María - Escobar - B...,False
3085,Argentina,2017-08-26,USD,CONTACTO : Claudia 034815431117728 ...,NaN,NaN,3434130.0,fbad1ef8ae780dfe2264f6dd3c507ff930d0fbd9,https://thumbs4.properati.com/6/HNyLdgJH_BXcnH...,-34.340253,...,1303.030303,1303.030303,http://www.properati.com.ar/1dvka_venta_depart...,house,1.0,Bs.As. G.B.A. Zona Norte,165.0,165.0,Country El Cantón - Escobar - Bs.As. G.B.A. Zo...,False
3087,Argentina,2017-08-27,USD,CONTACTO : CLAUDIA 034815431117728 MUY BUE...,NaN,NaN,NaN,088d765e8694ae895e945e022e08a176fc5b1ff3,https://thumbs4.properati.com/0/bxAr1SBw_0jiQn...,-34.340253,...,1161.971831,1161.971831,http://www.properati.com.ar/1dx4v_venta_depart...,apartment,1.0,Bs.As. G.B.A. Zona Norte,142.0,142.0,Country San Matías - Escobar - Bs.As. G.B.A. Z...,False
3091,Argentina,2017-08-27,USD,CONTACTO : Gustavo 155181117728 MUY BUENA CAS...,NaN,NaN,3434130.0,603e6f438fb73cc5d1ce1abd224e991ab2f2c1c1,https://thumbs4.properati.com/9/tT2X-3wyQrCEC7...,-34.340253,...,1451.612903,1451.612903,http://www.properati.com.ar/1dx88_venta_depart...,house,1.0,Bs.As. G.B.A. Zona Norte,155.0,155.0,Country El Cantón - Escobar - Bs.As. G.B.A. Zo...,False
3092,Argentina,2017-08-27,USD,CONTACTO: ANDREA -INGRID 155411117701 MUY...,NaN,NaN,NaN,f93b25a82e78a2a06b85e162f70197e5a820a154,https://thumbs4.properati.com/8/pM-qPkr3BfnAze...,-34.340253,...,1035.714286,1035.714286,http://www.properati.com.ar/1dwza_venta_depart...,apartment,1.0,Bs.As. G.B.A. Zona Norte,140.0,140.0,Country San Matías - Escobar - Bs.As. G.B.A. Z...,False
3096,Argentina,2017-08-27,USD,CONTACTO: ANDREA -INGRID 155411117701 MUY...,NaN,NaN,NaN,feba70937e2997aac32f81f0060f8101822654cf,https://thumbs4.properati.com/2/CFJiR8B75gQCOx...,-34.340253,...,1038.461538,1038.461538,http://www.properati.com.ar/1dwz6_venta_depart...,apartment,1.0,Bs.As. G.B.A. Zona Norte,130.0,130.0,Country San Matías - Escobar - Bs.As. G.B.A. Z...,False
3098,Argentina,2017-08-27,USD,CONTACTO: ANDREA -INGRID 155411117701 MUY...,NaN,NaN,NaN,bbc8b9c63e1f9a4087a732eadea9816f0b19d3d5,https://thumbs4.properati.com/1/7haWu2XNsEASY1...,-34.340253,...,1038.461538,1038.461538,http://www.properati.com.ar/1dwz7_venta_depart...,apartment,1.0,Bs.As. G.B.A. Zona Norte,130.0,130.0,Country San Matías - Escobar - Bs.As. G.B.A. Z...,False
3100,Argentina,2017-09-14,USD,*** APTO CREDITO (consultar) | LOTE INTERNO | ...,NaN,NaN,NaN,b410ba802e379bccd8cfbc0b5c6a2537a9bc48dc,https://thumbs4.properati.com/6/328-gyoWiaUfX9...,-34.340253,...,1180.000000,951.612903,http://www.properati.com.ar/1erhf_venta_casa_h...,house,NaN,Bs.As. G.B.A. Zona Norte,250.0,310.0,Bustamante Prop - Haras Santa Maria Venta Casa,False
3102,Argentina,2017-07-05,USD,***FIN DE OBRA DICIEMBRE 2017 | LOTE INTERNO |...,NaN,NaN,3434130.0,a24982df1ea6a6521560bfffe139c803cfdb8677,NaN,-34.340253,...,1304.347826,1257.485030,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,161.0,167.0,Bustamante Propiedades - Venta Casa en El Cantón,False
3104,Argentina,2017-07-04,USD,***FIN DE OBRA diciembre 2017 | LOTE INTERNO |...,NaN,NaN,3434130.0,99b7fd402a9d18337890931c329423a0399717b7,NaN,-34.340253,...,1419.753086,1419.753086,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,162.0,162.0,Bustamante Propiedades - Venta Casa en El Cantón,False
3106,Argentina,2017-07-04,USD,***FIN DE OBRA diciembre 2017 | LOTE INTERNO |...,NaN,NaN,3434130.0,f6c407283789e0e58a59b661ad189bfe73248779,NaN,-34.340253,...,1419.753086,1419.753086,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,162.0,162.0,Bustamante Propiedades - Venta Casa en El Cantón,False
3108,Argentina,2017-04-06,USD,- Casa de 190 m² cub. P.ALTA.: 3 dorm (1 ste. ...,NaN,NaN,3434130.0,0a093f4accd6015216183d85e2d383674954573a,NaN,-34.340253,...,1105.263158,1105.263158,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,190.0,190.0,CUBE - Barrio Privado Nautico,False
3114,Argentina,2016-12-17,USD,8 unidades de 3 ambientes y 63m2 cubiertos dis...,NaN,NaN,3434130.0,c4d44cfc0a5e815a78e3a6bbea73705319a626f0,NaN,-34.340253,...,1190.476190,1190.476190,NaN,apartment,3.0,Bs.As. G.B.A. Zona Norte,63.0,63.0,venta de departamentos a estrenar,False
3123,Argentina,2016-07-27,USD,A metros de toda la parte comercial. Unidades ...,NaN,NaN,NaN,87400fa129cb454d678203f86122996e3e500a4f,NaN,-34.340253,...,1100.000000,1100.000000,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,80.0,80.0,Excelentes duplex a estrenar,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,Argentina,2017-09-20,USD,GUSTAVO VER DATOS MUY BUENA CASA DE ESTILO --S...,NaN,NaN,NaN,5f729fc62ebf29e605c05894f0eec72f08e1c8ba,https://thumbs4.properati.com/5/tuuCCo4PHcyexv...,-34.340253,...,1466.666667,1189.189189,http://www.properati.com.ar/1f725_venta_casa_b...,house,NaN,Bs.As. G.B.A. Zona Norte,150.0,185.0,MUY BUENA CASA ESTILO -SAN MATIAS 1551811313,False
3337,Argentina,2017-08-27,USD,"HERMOSA CASA A ESTRENAR, DESARROLLADA EN 2 PLA...",NaN,NaN,NaN,f80e4487c13df115459a563d871d63384b4d4e7b,https://thumbs4.properati.com/1/8VMhndYhK9f7wa...,-34.340253,...,909.090909,909.090909,http://www.properati.com.ar/1dwus_venta_depart...,apartment,1.0,Bs.As. G.B.A. Zona Norte,220.0,220.0,Barrio Cerrado Haras Santa María - Escobar - B...,False
3339,Argentina,2017-08-27,USD,"HERMOSA CASA A ESTRENAR, DESARROLLADA EN 2 PLA...",NaN,NaN,NaN,224a0a52c7a10180b4eac4cbaa04bd01216a57b3,https://thumbs4.properati.com/9/GpxvsGIeY3emfh...,-34.340253,...,1081.081081,1081.081081,http://www.properati.com.ar/1dwut_venta_depart...,apartment,1.0,Bs.As. G.B.A. Zona Norte,185.0,185.0,Barrio Cerrado Haras Santa María - Escobar - B...,False
3341,Argentina,2016-12-17,USD,Hermosa casa de líneas modernas desarrollada ...,NaN,NaN,NaN,6773dbf1164dccefc8ddd30c790f56a353a0106d,NaN,-34.340253,...,1568.627451,394.088670,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,204.0,812.0,Casa en Venta - USD 320.000 - El Cantón Norte,False
3351,Argentina,2017-08-27,USD,Hermosa casa a estrenar desarrollada en una pl...,NaN,NaN,NaN,b1dc97b0d3629b6726555b5e0bb18e8b3dd30b15,https://thumbs4.properati.com/2/6rX5rPA0fE4NUh...,-34.340253,...,1100.000000,1100.000000,http://www.properati.com.ar/1dwv5_venta_depart...,apartment,1.0,Bs.As. G.B.A. Zona Norte,150.0,150.0,Country San Matías - Escobar - Bs.As. G.B.A. Z...,False
3358,Argentina,2017-07-29,USD,"Hermosa casa en Haras de Santa Maria, Barrio E...",NaN,NaN,NaN,0ba69b541683dd5f55990304e98ba2e62b950a8a,https://thumbs4.properati.com/6/zW1OMXLM9vuQjq...,-34.340253,...,1436.170213,1436.170213,http://www.properati.com.ar/1cghf_venta_casa_h...,house,NaN,Bs.As. G.B.A. Zona Norte,188.0,188.0,Casa a la venta Haras de Santa Maria - USD270000,False
3360,Argentina,2017-02-22,USD,Imponente casa a estrenar en uno de los mejore...,NaN,NaN,NaN,eabd30a2d8dd597b62cff1c5048fd320c1a38c57,NaN,-34.340253,...,1172.413793,971.428571,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,290.0,350.0,Imponente casa a estrenar en venta en Escobar,False
3366,Argentina,2016-12-20,USD,JMF Espectacular lote en San Matias a la Lagun...,NaN,NaN,NaN,0b4604489bd56fecf7806db45a1b49ceecf2a11a,NaN,-34.340253,...,1428.571429,208.768267,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,140.0,958.0,JMF casa a construir en Lote al Agua en San Ma...,False
3367,Argentina,2017-07-08,USD,"JMF. Casa en barrio privado Loma Verde, Escoba...",NaN,NaN,3431266.0,c9bcebc0eb87540d0f2d253feb0327513f4aff6a,https://thumbs4.properati.com/8/Np_AiopH0GzRP4...,-34.340253,...,970.588235,970.588235,http://www.properati.com.ar/19x7r_venta_casa_l...,house,NaN,Bs.As. G.B.A. Zona Norte,170.0,170.0,"JMF. Casa en barrio privado Loma Verde, Escobar",False
3369,Argentina,2017-04-11,USD,JMF: OPORTUNIDAD! Casa 4 dormitorios en Countr...,NaN,NaN,3431266.0,dce9ef1c1fdafdb19c263fdaae07c7e32b2bdeb5,NaN,-34.340253,...,970.588235,825.000000,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,170.0,200.0,Casa 4 dormitorios en Country Loma Verde Apta ...,False
3370,Argentina,2016-01-21,USD,LOMA VERDE-OPORTUNIDAD Ãºnica- Impecable casa ...,NaN,NaN,3431266.0,3fa358c9bc46eca8126fef3f6441bf2287abae6c,NaN,-34.340253,...,1241.379310,205.714286,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,145.0,875.0,CASA EN VENTA,False
3373,Argentina,2017-09-18,USD,Lindisima Casa a estrenar desarrollada en una ...,NaN,NaN,NaN,a9e0599549fa298a28bdb08cb7e95515b54e8b68,https://thumbs4.properati.com/2/XfcliGeh8LBiEB...,-34.340253,...,1294.117647,1157.894737,http://www.properati.com.ar/1ezbg_venta_casa_e...,house,NaN,Bs.As. G.B.A. Zona Norte,170.0,190.0,LINDISIMA CASA A ESTRENAR- EN BARRIO SAN MATIAS,False
3375,Argentina,2016-01-21,USD,"Loma Verde, Escobar - OPORTUNIDAD- Escriturad...",NaN,NaN,3431266.0,3257a64b11bec19f27c23ffd32f6a1ad3c3eca4c,NaN,-34.340253,...,863.309353,318.725100,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,278.0,753.0,CASA EN VENTA,False
3378,Argentina,2017-05-27,USD,MAO. Muy linda casa de estilo clásico moderno....,NaN,NaN,NaN,74c419b3dca1fa2e95825c20424982def01f3706,NaN,-34.340253,...,1400.000000,1184.615385,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,275.0,325.0,MAO. Espectacular casa de dos plantas a la la...,False
3381,Argentina,2016-12-07,USD,MUY LINDA CASA DESARROLLADA EN LOTE INTERNO!L...,NaN,NaN,NaN,27764f9c93461e0af3934adb49ee24b4db7827c4,NaN,-34.340253,...,1344.827586,1344.827586,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,145.0,145.0,El Canton - Norte - Casa en Venta USD 195.000,False
3391,Argentina,2017-02-04,USD,MUY LINDA CASA EN VENTA CON RENTA HASTA OCTUBR...,NaN,NaN,NaN,5c391061c3ceab9e2c2caa5a13f0851dd59aff4c,NaN,-34.340253,...,1150.000000,1150.000000,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,200.0,200.0,CASA EN VENTA EN EL BARRIO SAN MATIAS ESCOBAR,False
3393,Argentina,2016-01-21,USD,Muy buena casa moderna a estrenar contemplando...,NaN,NaN,NaN,f4011b04f9b359e6aec0d7bf35ff2e5aa19b84ca,NaN,-34.340253,...,1384.615385,370.370370,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,260.0,972.0,CASA EN VENTA,False
3396,Argentina,2016-12-06,USD,Muy linda casa de diseño moderno desarrollada ...,NaN,NaN,NaN,088a782b34729ec21e5d38ce161997726d66dc10,NaN,-34.340253,...,1209.150327,1209.150327,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,153.0,153.0,El Canton - Islas - Casa en Venta USD 185.000,False
3406,Argentina,2017-08-19,USD,Muy linda casa desarrollada en dos plantas con...,NaN,NaN,3434130.0,a50fdc8e1c706bce6cd4af4405654251c8f38a37,https://thumbs4.properati.com/0/V7j2_wZHWZ1cwg...,-34.340253,...,1798.941799,1497.797357,http://www.properati.com.ar/1djx7_venta_casa_e...,house,NaN,Bs.As. G.B.A. Zona Norte,189.0,227.0,Venta de casa en Barrio El Canton Norte - Esc...,False
3407,Argentina,2017-08-19,USD,Muy linda casa desarrollada en una planta con ...,NaN,NaN,3434130.0,d7a3f6510275a6b112282be671dde24c6062506f,https://thumbs4.properati.com/1/nuiG0oND3LYy1g...,-34.340253,...,1385.281385,1212.121212,http://www.properati.com.ar/1djws_venta_casa_e...,house,NaN,Bs.As. G.B.A. Zona Norte,231.0,264.0,Venta de Casa en Barrio El Cantón - Escobar,False
3408,Argentina,2017-05-17,USD,Muy linda casa en venta en el Barrio San Matia...,NaN,NaN,NaN,c3b85194266bbd43df7e54bb2a351a97731937c5,NaN,-34.340253,...,1210.526316,306.666667,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,190.0,750.0,Muy linda casa y practica en venta en el barri...,False
3411,Argentina,2016-12-20,USD,NOE. Excelente casa en barrio privado Los Cara...,NaN,NaN,NaN,5f3bc0b897f23bbf7fb8251d9344ecb0123903e7,NaN,-34.340253,...,1302.083333,781.250000,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,96.0,160.0,NOE. Barrio privado Los Caracoles. Casa 2 domi...,False
3412,Argentina,2017-04-27,USD,Optimo mantenimiento general Chatel de 230 m² ...,NaN,NaN,NaN,19a65e1058ab52b1548a54a392a7bc3f46d1e2a8,NaN,-34.340253,...,860.869565,194.117647,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,230.0,1020.0,Impecable !!!,False
3418,Argentina,2017-04-06,USD,"P.LANTA BAJA : 3 dorm., (1 en suite) los otros...",NaN,NaN,3434130.0,0b69356d4f36984e4e9b7ede0a6f97f12ae29bd3,NaN,-34.340253,...,1069.364162,958.549223,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,173.0,193.0,Oportunidad...!! Original Diseño en TERCERA IS...,False
3424,Argentina,2017-04-06,USD,SEGUNDA ISLA Calel Del Lujan entre Las Araucar...,NaN,NaN,3434130.0,ffca74b59b3c93b15fb0ab29c27cfd2736b7674e,NaN,-34.340253,...,782.608696,782.608696,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,230.0,230.0,CUBE - Centro Urbanistico Barrancas de Escobar,False
3430,Argentina,2017-07-04,USD,Se vende en la zona de Escobar una casa divina...,NaN,NaN,3434130.0,5a9ee97f209aa61b47b56fb8c437d8e686552509,NaN,-34.340253,...,1071.428571,375.000000,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,420.0,1200.0,"Majestuosa casa en venta en el Barrio Cube, de...",False
3431,Argentina,2017-01-19,USD,VIVIENDA A ESTRENAR EN HARAS STA MARIA. U$S 25...,NaN,NaN,NaN,b3717c7f3e2a37e38a7ce8eea9a30a0e133468c8,NaN,-34.340253,...,1191.588785,313.267813,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,214.0,814.0,"CASA A ESTRENAR EN VENTA EN HARAS STA. MARIA, ...",False
3439,Argentina,2017-07-11,USD,Venta Casa Loma Verde Country Club – Escobar| ...,NaN,NaN,3431266.0,958f01587dca2734b6c25bb94b8e6f79183d5bbf,https://thumbs4.properati.com/0/YNMMy6xYl_CGzB...,-34.340253,...,1060.606061,1060.606061,http://www.properati.com.ar/19yjs_venta_casa_l...,house,NaN,Bs.As. G.B.A. Zona Norte,165.0,165.0,Bustamante Propiedades - Venta Casa Loma Verde,False
3441,Argentina,2016-01-21,USD,Venta casas en Aranjuez. : CÃ³moda casa con 3 ...,NaN,NaN,3434130.0,1ab0898993151f5672a8d3ba40cdd2b5ce20c1cb,NaN,-34.340253,...,1233.333333,308.333333,NaN,house,NaN,Bs.As. G.B.A. Zona Norte,150.0,600.0,CASA EN VENTA,False

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182407 entries, 0 to 781399
Data columns (total 28 columns):
country_name                  182407 non-null object
created_on                    182407 non-null object
currency                      178752 non-null object
description                   182407 non-null object
expenses                      25400 non-null float64
floor                         22438 non-null float64
geonames_id                   145856 non-null float64
id                            182407 non-null object
image_thumbnail               34078 non-null object
lat                           182407 non-null float64
lat-lon                       182407 non-null object
lon                           182407 non-null float64
operation                     34078 non-null object
place_name                    182343 non-null object
place_with_parent_names       182407 non-null object
price                         182407 non-null float64
price_aprox_local_currency    182407 non-null float64
price_aprox_usd               182407 non-null float64
price_per_m2                  158759 non-null float64
price_usd_per_m2              126164 non-null float64
properati_url                 34078 non-null object
property_type                 182407 non-null object
rooms                         112645 non-null float64
state_name                    182407 non-null object
surface_covered_in_m2         162848 non-null float64
surface_total_in_m2           134937 non-null float64
title                         182407 non-null object
duplicado                     182407 non-null bool
dtypes: bool(1), float64(13), object(14)
memory usage: 39.1+ MB

In [13]:
data.to_csv("csvs/datosSinDuplicados.csv", index = False)

## Filtrando anomalos
En este notebook lo que hicimos fue identificar los datos anomalos, por ejemplo no tiene sentido que una propiedad del tipo 'casa' este el el floor 250. Lo que elegimos hacer fue reemplazar esos datos anomalos por NaNs para no perder todo el registro solo por un dato incorrecto.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('csvs/datosSinDuplicados.csv', low_memory=False)

In [3]:
data.drop_duplicates('id', keep = 'last', inplace = True)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 163260 entries, 0 to 182406
Data columns (total 28 columns):
country_name                  163260 non-null object
created_on                    163260 non-null object
currency                      159636 non-null object
description                   163260 non-null object
expenses                      23131 non-null float64
floor                         19585 non-null float64
geonames_id                   130373 non-null float64
id                            163260 non-null object
image_thumbnail               30237 non-null object
lat                           163260 non-null float64
lat-lon                       163260 non-null object
lon                           163260 non-null float64
operation                     30237 non-null object
place_name                    163206 non-null object
place_with_parent_names       163260 non-null object
price                         163260 non-null float64
price_aprox_local_currency    163260 non-null float64
price_aprox_usd               163260 non-null float64
price_per_m2                  141503 non-null float64
price_usd_per_m2              113089 non-null float64
properati_url                 30237 non-null object
property_type                 163260 non-null object
rooms                         100416 non-null float64
state_name                    163260 non-null object
surface_covered_in_m2         145505 non-null float64
surface_total_in_m2           121590 non-null float64
title                         163260 non-null object
duplicado                     163260 non-null bool
dtypes: bool(1), float64(13), object(14)
memory usage: 35.0+ MB

In [5]:
del data['country_name']
del data['geonames_id']
del data['image_thumbnail']
del data['id']
del data['lat-lon']
del data['operation']
del data['place_name']
del data['properati_url']
del data['state_name']
del data['duplicado']
del data['title']
del data['price']
del data['currency']
del data['price_per_m2']
del data['price_aprox_local_currency']
del data['price_usd_per_m2']
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 163260 entries, 0 to 182406
Data columns (total 12 columns):
created_on                 163260 non-null object
description                163260 non-null object
expenses                   23131 non-null float64
floor                      19585 non-null float64
lat                        163260 non-null float64
lon                        163260 non-null float64
place_with_parent_names    163260 non-null object
price_aprox_usd            163260 non-null float64
property_type              163260 non-null object
rooms                      100416 non-null float64
surface_covered_in_m2      145505 non-null float64
surface_total_in_m2        121590 non-null float64
dtypes: float64(8), object(4)
memory usage: 16.2+ MB

In [6]:
data.loc[data.floor > 70, 'floor'] = np.NaN

In [7]:
data.loc[data.rooms > 12, 'rooms'] = np.NaN

In [8]:
data.loc[data.surface_total_in_m2 < 1, 'surface_total_in_m2'] = np.NaN

In [9]:
data.loc[((data.surface_total_in_m2 > 70000) & (data.property_type == "apartment")), 'surface_total_in_m2'] = np.NaN

In [10]:
data.loc[data.surface_covered_in_m2 < 1, 'surface_covered_in_m2'] = np.NaN

In [11]:
data.loc[data.surface_covered_in_m2 > data.surface_total_in_m2, 'surface_covered_in_m2'] = np.NaN

In [12]:
data.loc[data.expenses < 150, 'expenses'] = np.NaN

In [13]:
data.loc[data.expenses > 150000, 'expenses'] = np.NaN

In [14]:
data = data.loc[(data.lat<-34) & (data.lat>-35) & (data.lon>-60) & (data.lon<-57.5)]

In [15]:
data = data[data.price_aprox_usd!=0]

Esto ultimo es muy importante, eliminar todo registro cuyo precio sea igual a 0, ya que si estuvieran se usarian para predecir y afectaria mucho los resultados.

In [16]:
data = data.reset_index(drop = True)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158352 entries, 0 to 158351
Data columns (total 12 columns):
created_on                 158352 non-null object
description                158352 non-null object
expenses                   21572 non-null float64
floor                      18702 non-null float64
lat                        158352 non-null float64
lon                        158352 non-null float64
place_with_parent_names    158352 non-null object
price_aprox_usd            158352 non-null float64
property_type              158352 non-null object
rooms                      97155 non-null float64
surface_covered_in_m2      139468 non-null float64
surface_total_in_m2        112609 non-null float64
dtypes: float64(8), object(4)
memory usage: 14.5+ MB

In [18]:
data.to_csv("csvs/datosFiltrados.csv", index = False)

## Reemplazando NaNs
Para poder correr algoritmos es necesario tener todos los campos completos en nuestro dataset. Por esto en este notebook nos ocupamos de estimar los campos que no estan para luego poder entrenar nuestros estimadores.

In [113]:
import pandas as pd
import numpy as np

In [114]:
data = pd.read_csv('csvs/datosFiltrados.csv', low_memory=False)

In [115]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158352 entries, 0 to 158351
Data columns (total 12 columns):
created_on                 158352 non-null object
description                158352 non-null object
expenses                   21572 non-null float64
floor                      18702 non-null float64
lat                        158352 non-null float64
lon                        158352 non-null float64
place_with_parent_names    158352 non-null object
price_aprox_usd            158352 non-null float64
property_type              158352 non-null object
rooms                      97155 non-null float64
surface_covered_in_m2      139468 non-null float64
surface_total_in_m2        112609 non-null float64
dtypes: float64(8), object(4)
memory usage: 14.5+ MB

In [116]:
data.loc[data.expenses.notnull(), 'expenses/price'] = data['expenses']/data['price_aprox_usd']

In [117]:
meanHouse = data[data['property_type'] == 'house']['expenses/price'].mean()
meanApart = data[data['property_type'] == 'apartment']['expenses/price'].mean()
meanPH = data[data['property_type'] == 'PH']['expenses/price'].mean()
meanStore = data[data['property_type'] == 'store']['expenses/price'].mean()

data.loc[data['property_type'] == "apartment",'expenses/price'] = data['expenses/price'].apply(lambda x: meanApart if np.isnan(x) else x)
data.loc[data['property_type'] == "house",'expenses/price'] = data['expenses/price'].apply(lambda x: meanHouse if np.isnan(x) else x)
data.loc[data['property_type'] == "PH",'expenses/price'] = data['expenses/price'].apply(lambda x: meanPH if np.isnan(x) else x)
data.loc[data['property_type'] == "store",'expenses/price'] = data['expenses/price'].apply(lambda x: meanStore if np.isnan(x) else x)

In [118]:
data.loc[data.expenses.isnull(), 'expenses'] = data['expenses/price']*data['price_aprox_usd']
del data['expenses/price']

In [119]:
data.loc[data.surface_total_in_m2.notnull(), 'surface/price'] = data['surface_total_in_m2']/data['price_aprox_usd']

In [120]:
meanHouse = data[data['property_type'] == 'house']['surface/price'].mean()
meanApart = data[data['property_type'] == 'apartment']['surface/price'].mean()
meanPH = data[data['property_type'] == 'PH']['surface/price'].mean()
meanStore = data[data['property_type'] == 'store']['surface/price'].mean()

data.loc[data['property_type'] == "apartment",'surface/price'] = data['surface/price'].apply(lambda x: meanApart if np.isnan(x) else x)
data.loc[data['property_type'] == "house",'surface/price'] = data['surface/price'].apply(lambda x: meanHouse if np.isnan(x) else x)
data.loc[data['property_type'] == "PH",'surface/price'] = data['surface/price'].apply(lambda x: meanPH if np.isnan(x) else x)
data.loc[data['property_type'] == "store",'surface/price'] = data['surface/price'].apply(lambda x: meanStore if np.isnan(x) else x)

In [122]:
data.loc[data.surface_total_in_m2.isnull(), 'surface_total_in_m2'] = data['surface/price']*data['price_aprox_usd']
del data['surface/price']

In [123]:
data.loc[data.surface_covered_in_m2.notnull(), 'surface/price'] = data['surface_covered_in_m2']*data['price_aprox_usd']/data['surface_total_in_m2']

In [124]:
meanHouse = data[data['property_type'] == 'house']['surface/price'].mean()
meanApart = data[data['property_type'] == 'apartment']['surface/price'].mean()
meanPH = data[data['property_type'] == 'PH']['surface/price'].mean()
meanStore = data[data['property_type'] == 'store']['surface/price'].mean()

data.loc[data['property_type'] == "apartment",'surface/price'] = data['surface/price'].apply(lambda x: meanApart if np.isnan(x) else x)
data.loc[data['property_type'] == "house",'surface/price'] = data['surface/price'].apply(lambda x: meanHouse if np.isnan(x) else x)
data.loc[data['property_type'] == "PH",'surface/price'] = data['surface/price'].apply(lambda x: meanPH if np.isnan(x) else x)
data.loc[data['property_type'] == "store",'surface/price'] = data['surface/price'].apply(lambda x: meanStore if np.isnan(x) else x)

In [125]:
data.loc[data.surface_covered_in_m2.isnull(),'surface_covered_in_m2'] = data['surface/price']*data['surface_total_in_m2']/data['price_aprox_usd']
del data['surface/price']

In [126]:
data.loc[data.rooms.notnull(), 'rooms*price'] = data['rooms']*data['price_aprox_usd']

In [127]:
meanHouse = data[data['property_type'] == 'house']['rooms*price'].mean()
meanApart = data[data['property_type'] == 'apartment']['rooms*price'].mean()
meanPH = data[data['property_type'] == 'PH']['rooms*price'].mean()
meanStore = data[data['property_type'] == 'store']['rooms*price'].mean()

data.loc[data['property_type'] == "apartment",'rooms*price'] = data['rooms*price'].apply(lambda x: meanApart if np.isnan(x) else x)
data.loc[data['property_type'] == "house",'rooms*price'] = data['rooms*price'].apply(lambda x: meanHouse if np.isnan(x) else x)
data.loc[data['property_type'] == "PH",'rooms*price'] = data['rooms*price'].apply(lambda x: meanPH if np.isnan(x) else x)
data.loc[data['property_type'] == "store",'rooms*price'] = data['rooms*price'].apply(lambda x: meanStore if np.isnan(x) else x)

In [128]:
data.loc[data.rooms.isnull(),'rooms'] = data['rooms*price']/data['price_aprox_usd']
del data['rooms*price']

In [129]:
data['rooms'] = data['rooms'].apply(lambda x: (float)((int)(x)))

In [130]:
data.loc[data.floor.notnull(), 'floor*price'] = data['floor']*data['price_aprox_usd']

In [131]:
meanHouse = data[data['property_type'] == 'house']['floor*price'].mean()
meanApart = data[data['property_type'] == 'apartment']['floor*price'].mean()
meanPH = data[data['property_type'] == 'PH']['floor*price'].mean()
meanStore = data[data['property_type'] == 'store']['floor*price'].mean()

data.loc[data['property_type'] == "apartment",'floor*price'] = data['floor*price'].apply(lambda x: meanApart if np.isnan(x) else x)
data.loc[data['property_type'] == "house",'floor*price'] = data['floor*price'].apply(lambda x: meanHouse if np.isnan(x) else x)
data.loc[data['property_type'] == "PH",'floor*price'] = data['floor*price'].apply(lambda x: meanPH if np.isnan(x) else x)
data.loc[data['property_type'] == "store",'floor*price'] = data['floor*price'].apply(lambda x: meanStore if np.isnan(x) else x)

In [132]:
data.loc[data.floor.isnull(),'floor'] = data['floor*price']/data['price_aprox_usd']
del data['floor*price']

In [133]:
data['floor'] = data['floor'].apply(lambda x: (float)((int)(x)))

In [141]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158352 entries, 0 to 158351
Data columns (total 12 columns):
created_on                 158352 non-null object
description                158352 non-null object
expenses                   158352 non-null float64
floor                      158352 non-null float64
lat                        158352 non-null float64
lon                        158352 non-null float64
place_with_parent_names    158352 non-null object
price_aprox_usd            158352 non-null float64
property_type              158352 non-null object
rooms                      158352 non-null float64
surface_covered_in_m2      158352 non-null float64
surface_total_in_m2        158352 non-null float64
dtypes: float64(8), object(4)
memory usage: 14.5+ MB

In [135]:
data.to_csv("csvs/datosSinNan.csv", index = False)

## Agregando distancias
Tambien probamos agregar campos como distancia minima a una estacion de subte, metrobus y ferrocarril. Pero empeoraron nuestros resultados asi que dejamos de lado esos campos.

In [26]:
import pandas as pd
import numpy as np

In [27]:
data = pd.read_csv('csvs/datosFiltrados.csv', low_memory=False)

In [28]:
subte = pd.read_csv('../Datos Capital/estaciones-de-subte.csv',low_memory=False)

In [29]:
metrobus = pd.read_csv('../Datos Capital/estaciones-de-metrobus.csv',low_memory=False)

In [30]:
tren = pd.read_csv('../Datos Capital/estaciones-de-ferrocarril.csv',low_memory=False)

In [31]:
for i in range(len(data.index)):
    data.loc[i,'dist_subte'] = 99999999999
    for j in range(len(subte.index)):
            aux = abs(data.loc[i,'lat'] - subte.loc[j,'lat']) + abs(data.loc[i,'lon'] - subte.loc[j,'lon'])
            if aux < data.loc[i,'dist_subte']:
                data.loc[i,'dist_subte'] = aux
    data.loc[i,'dist_tren'] = 99999999999
    for j in range(len(tren.index)):
            aux = abs(data.loc[i,'lat'] - tren.loc[j,'lat']) + abs(data.loc[i,'lon'] - tren.loc[j,'lon'])
            if aux < data.loc[i,'dist_tren']:
                data.loc[i,'dist_tren'] = aux
    data.loc[i,'dist_metrobus'] = 99999999999
    for j in range(len(metrobus.index)):
            aux = abs(data.loc[i,'lat'] - metrobus.loc[j,'lat']) + abs(data.loc[i,'lon'] - metrobus.loc[j,'lon'])
            if aux < data.loc[i,'dist_metrobus']:
                data.loc[i,'dist_metrobus'] = aux

In [33]:
data.to_csv("csvs/datosAgregados.csv", index = False)

## Arreglando el set de pruebas
En este notebook nos ocupamos de completar todos los campos nulos del set de pruebas.

In [268]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.neighbors import KNeighborsRegressor

In [270]:
datatest = pd.read_csv('csvs/properati_dataset_testing_noprice.csv', low_memory=False)

In [271]:
datatest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 17 columns):
id                         14166 non-null int64
created_on                 14166 non-null object
property_type              14166 non-null object
operation                  14166 non-null object
place_name                 14166 non-null object
place_with_parent_names    14166 non-null object
country_name               14166 non-null object
state_name                 14166 non-null object
lat-lon                    10487 non-null object
lat                        10487 non-null float64
lon                        10487 non-null float64
surface_total_in_m2        11853 non-null float64
surface_covered_in_m2      13005 non-null float64
floor                      1368 non-null float64
rooms                      7500 non-null float64
expenses                   2543 non-null object
description                14166 non-null object
dtypes: float64(6), int64(1), object(10)
memory usage: 1.8+ MB

In [272]:
meanLat = datatest[['place_name','lat']].groupby('place_name').agg(np.mean)
meanLon = datatest[['place_name','lon']].groupby('place_name').agg(np.mean)

In [273]:
for place in meanLon.index:
    datatest.loc[((datatest.lon.isnull()) & (datatest.place_name == place)), 'lon'] = meanLon.loc[place]['lon']
    datatest.loc[((datatest.lat.isnull()) & (datatest.place_name == place)), 'lat'] = meanLat.loc[place]['lat']

Para los campos que no tienen ubicacion geografica, nos fijamos en que barrio estaban y le asignamos una ubicacion que sea coherente con el barrio en que estan.

In [274]:
noLatLon = datatest[datatest.lat.isnull()].groupby('place_name').agg(np.size)
noLatLon

,id,created_on,property_type,operation,place_with_parent_names,country_name,state_name,lat-lon,lat,lon,surface_total_in_m2,surface_covered_in_m2,floor,rooms,expenses,description
place_name,,,,,,,,,,,,,,,,
Abril Club de Campo,1,1,1,1,1,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1,1
Altos de Hudson I,1,1,1,1,1,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1,1
Bs.As. G.B.A. Zona Oeste,13,13,13,13,13,13,13,13,13.0,13.0,13.0,13.0,13.0,13.0,13,13
Buenos Aires Interior,1,1,1,1,1,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1,1
El Rocío,1,1,1,1,1,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1,1
González Catán,1,1,1,1,1,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1,1
Gregorio de Laferrere,5,5,5,5,5,5,5,5,5.0,5.0,5.0,5.0,5.0,5.0,5,5
Haras San Pablo,2,2,2,2,2,2,2,2,2.0,2.0,2.0,2.0,2.0,2.0,2,2
La horqueta de Echeverría,3,3,3,3,3,3,3,3,3.0,3.0,3.0,3.0,3.0,3.0,3,3
Malvinas Argentinas,1,1,1,1,1,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1,1
Prados del Oeste,1,1,1,1,1,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1,1
Solar del Bosque,2,2,2,2,2,2,2,2,2.0,2.0,2.0,2.0,2.0,2.0,2,2
Sourigues,1,1,1,1,1,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1,1
Terralagos,3,3,3,3,3,3,3,3,3.0,3.0,3.0,3.0,3.0,3.0,3,3
Villa Celina,7,7,7,7,7,7,7,7,7.0,7.0,7.0,7.0,7.0,7.0,7,7

In [275]:
datatest.loc[datatest.place_name == 'Abril Club de Campo', 'lat'] = -34.802221
datatest.loc[datatest.place_name == 'Abril Club de Campo', 'lon'] = -58.164291

In [276]:
datatest.loc[datatest.place_name == 'Bs.As. G.B.A. Zona Oeste', 'lat'] = datatest.loc[datatest.state_name == 'Bs.As. G.B.A. Zona Oeste', 'lat'].mean()
datatest.loc[datatest.place_name == 'Bs.As. G.B.A. Zona Oeste', 'lon'] = datatest.loc[datatest.state_name == 'Bs.As. G.B.A. Zona Oeste', 'lon'].mean()

In [277]:
datatest.loc[datatest.place_name == 'El Rocío', 'lat'] = -34.867969
datatest.loc[datatest.place_name == 'El Rocío', 'lon'] = -58.488543

In [278]:
datatest.loc[datatest.place_name == "Buenos Aires Interior",'lat'] = -34.708663
datatest.loc[datatest.place_name == "Buenos Aires Interior",'lon'] = -58.973401

In [279]:
datatest.loc[datatest.place_name == "Altos de Hudson I",'lat'] = -34.862623
datatest.loc[datatest.place_name == "Altos de Hudson I",'lon'] = -58.168622

In [280]:
datatest.loc[datatest.place_name == "González Catán",'lat'] = -34.769133
datatest.loc[datatest.place_name == "González Catán",'lon'] = -58.628477

In [281]:
datatest.loc[datatest.place_name == "Gregorio de Laferrere",'lat'] = -34.743953
datatest.loc[datatest.place_name == "Gregorio de Laferrere",'lon'] = -58.592342

In [282]:
datatest.loc[datatest.place_name == "Haras San Pablo",'lat'] = -34.606195
datatest.loc[datatest.place_name == "Haras San Pablo",'lon'] = -59.038684

In [283]:
datatest.loc[datatest.place_name == "La horqueta de Echeverría",'lat'] = -34.897656
datatest.loc[datatest.place_name == "La horqueta de Echeverría",'lon'] = -58.484175

In [284]:
datatest.loc[datatest.place_name == "Malvinas Argentinas",'lat'] = -34.482412
datatest.loc[datatest.place_name == "Malvinas Argentinas",'lon'] = -58.717893

In [285]:
datatest.loc[datatest.place_name == "Prados del Oeste",'lat'] = -34.594077
datatest.loc[datatest.place_name == "Prados del Oeste",'lon'] = -58.829508

In [286]:
datatest.loc[datatest.place_name == "Solar del Bosque",'lat'] = -34.905555
datatest.loc[datatest.place_name == "Solar del Bosque",'lon'] = -58.507635

In [287]:
datatest.loc[datatest.place_name == "Sourigues",'lat'] = -34.800140
datatest.loc[datatest.place_name == "Sourigues",'lon'] = -58.220011

In [288]:
datatest.loc[datatest.place_name == "Terralagos",'lat'] = -34.907001
datatest.loc[datatest.place_name == "Terralagos",'lon'] = -58.514885

In [289]:
datatest.loc[datatest.place_name == "Villa Celina",'lat'] = -34.706311
datatest.loc[datatest.place_name == "Villa Celina",'lon'] = -58.483025

In [290]:
del datatest['lat-lon']

In [291]:
datatest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 16 columns):
id                         14166 non-null int64
created_on                 14166 non-null object
property_type              14166 non-null object
operation                  14166 non-null object
place_name                 14166 non-null object
place_with_parent_names    14166 non-null object
country_name               14166 non-null object
state_name                 14166 non-null object
lat                        14166 non-null float64
lon                        14166 non-null float64
surface_total_in_m2        11853 non-null float64
surface_covered_in_m2      13005 non-null float64
floor                      1368 non-null float64
rooms                      7500 non-null float64
expenses                   2543 non-null object
description                14166 non-null object
dtypes: float64(6), int64(1), object(9)
memory usage: 1.7+ MB

In [292]:
def property_type_to_num(x):
    if x == "departamento":
        return 0
    if x == "casa":
        return 1
    return 2

In [293]:
datatest['property_type'] = datatest['property_type'].apply(lambda x: property_type_to_num(x))

In [294]:
datatest.loc[datatest.surface_covered_in_m2 > datatest.surface_total_in_m2,'aux'] = \
datatest.loc[datatest.surface_covered_in_m2 > datatest.surface_total_in_m2, 'surface_covered_in_m2']

datatest.loc[datatest.surface_covered_in_m2 > datatest.surface_total_in_m2, 'surface_covered_in_m2'] = \
datatest.loc[datatest.surface_covered_in_m2 > datatest.surface_total_in_m2, 'surface_total_in_m2']

datatest.loc[datatest.aux > datatest.surface_total_in_m2, 'surface_total_in_m2'] = \
datatest.loc[datatest.aux > datatest.surface_total_in_m2, 'aux']

In [295]:
del datatest['aux']

In [296]:
datatest.loc[datatest.surface_total_in_m2 == 0, 'surface_total_in_m2'] = np.NaN

Para el set de pruebas nos ayudamos de knn para predecir los campos nulos.

In [297]:
from sklearn.neighbors import KNeighborsRegressor

knn = KNeighborsRegressor(n_neighbors = 3, p = 1, weights = 'distance')

In [298]:
cond = ((datatest.surface_covered_in_m2.isnull()) & (datatest.surface_total_in_m2.isnull()))
rest = datatest[cond == False]
train = rest[rest.surface_covered_in_m2.notnull()]
rest = rest[rest.surface_covered_in_m2.isnull()]
test = datatest[cond]

In [299]:
knn.fit(train[['property_type', 'lat', 'lon']], train['surface_covered_in_m2'])

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=3, p=1,
          weights='distance')

In [300]:
predictions = knn.predict(test[['property_type', 'lat', 'lon']])

In [301]:
test= test.reset_index(drop = True)
test.surface_covered_in_m2 = pd.Series(predictions)

In [302]:
datatest = pd.concat([train, test, rest])

In [303]:
datatest = datatest.reset_index(drop = True)

In [304]:
datatest['covered/total'] = datatest['surface_covered_in_m2']/datatest['surface_total_in_m2']

In [305]:
rest = datatest[datatest.surface_total_in_m2.isnull()]
train = datatest[datatest.surface_total_in_m2.notnull()]
test = train[train['covered/total'].isnull()]
train = train[train['covered/total'].notnull()]

In [306]:
knn.fit(train[['property_type', 'lat', 'lon','surface_total_in_m2']], train['covered/total'])

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=3, p=1,
          weights='distance')

In [307]:
predictions = knn.predict(test[['property_type', 'lat', 'lon','surface_total_in_m2']])

In [308]:
test= test.reset_index(drop = True)
test['covered/total'] = pd.Series(predictions)
datatest = pd.concat([train, test, rest])
datatest = datatest.reset_index(drop = True)
datatest.loc[datatest['surface_covered_in_m2'].isnull(),'surface_covered_in_m2'] = datatest['surface_total_in_m2']*datatest['covered/total']

In [309]:
del datatest['covered/total']
datatest['covered/total'] = datatest['surface_covered_in_m2']/datatest['surface_total_in_m2']

In [310]:
test = datatest[datatest['covered/total'].isnull()]
train = datatest[datatest['covered/total'].notnull()]

In [311]:
knn.fit(train[['property_type', 'lat', 'lon','surface_covered_in_m2']], train['covered/total'])

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=3, p=1,
          weights='distance')

In [312]:
predictions = knn.predict(test[['property_type', 'lat', 'lon','surface_covered_in_m2']])

In [313]:
test= test.reset_index(drop = True)
test['covered/total'] = pd.Series(predictions)
datatest = pd.concat([train, test])
datatest = datatest.reset_index(drop = True)

In [314]:
datatest.loc[datatest.surface_total_in_m2.isnull(),'surface_total_in_m2'] = datatest['surface_covered_in_m2']/datatest['covered/total']
del datatest['covered/total']

In [315]:
datatest.loc[datatest.floor > 100, 'floor'] = np.NaN

In [316]:
test = datatest[datatest['floor'].isnull()]
train = datatest[datatest['floor'].notnull()]

In [317]:
knn.fit(train[['property_type', 'lat', 'lon','surface_covered_in_m2','surface_total_in_m2']], train['floor'])

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=3, p=1,
          weights='distance')

In [318]:
predictions = knn.predict(test[['property_type', 'lat', 'lon','surface_covered_in_m2','surface_total_in_m2']])

In [319]:
test= test.reset_index(drop = True)
test['floor'] = pd.Series(predictions)
datatest = pd.concat([train, test])
datatest = datatest.reset_index(drop = True)

In [320]:
datatest['floor'] = datatest['floor'].apply(lambda x: (float)((int)(x)))

In [321]:
datatest.loc[datatest.rooms>16,'rooms'] = np.NaN

In [322]:
test = datatest[datatest['rooms'].isnull()]
train = datatest[datatest['rooms'].notnull()]

In [323]:
knn.fit(train[['property_type', 'lat', 'lon','surface_covered_in_m2','surface_total_in_m2','floor']], train['rooms'])

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=3, p=1,
          weights='distance')

In [324]:
predictions = knn.predict(test[['property_type', 'lat', 'lon','surface_covered_in_m2','surface_total_in_m2','floor']])

In [325]:
test= test.reset_index(drop = True)
test['rooms'] = pd.Series(predictions)
datatest = pd.concat([train, test])
datatest = datatest.reset_index(drop = True)

In [326]:
datatest['rooms'] = datatest['rooms'].apply(lambda x: (float)((int)(x)))

In [327]:
datatest['rooms'] = datatest['rooms'].apply(lambda x: 1.0 if x<1 else x)

In [328]:
datatest.loc[datatest.expenses.str.isdigit() == False,'expenses'] = np.NaN

In [329]:
datatest['expenses'] = datatest['expenses'].apply(lambda x : float(x))

In [330]:
datatest.loc[datatest.expenses >50000,'expenses'] = np.NaN

In [331]:
test = datatest[datatest['expenses'].isnull()]
train = datatest[datatest['expenses'].notnull()]

In [332]:
knn.fit(train[['property_type', 'lat', 'lon','surface_covered_in_m2','surface_total_in_m2','floor','rooms']], train['expenses'])

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=3, p=1,
          weights='distance')

In [333]:
predictions = knn.predict(test[['property_type', 'lat', 'lon','surface_covered_in_m2','surface_total_in_m2','floor','rooms']])

In [334]:
test= test.reset_index(drop = True)
test['expenses'] = pd.Series(predictions)
datatest = pd.concat([train, test])
datatest = datatest.reset_index(drop = True)

In [335]:
datatest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 16 columns):
id                         14166 non-null int64
created_on                 14166 non-null object
property_type              14166 non-null int64
operation                  14166 non-null object
place_name                 14166 non-null object
place_with_parent_names    14166 non-null object
country_name               14166 non-null object
state_name                 14166 non-null object
lat                        14166 non-null float64
lon                        14166 non-null float64
surface_total_in_m2        14166 non-null float64
surface_covered_in_m2      14166 non-null float64
floor                      14166 non-null float64
rooms                      14166 non-null float64
expenses                   14166 non-null float64
description                14166 non-null object
dtypes: float64(7), int64(2), object(7)
memory usage: 1.7+ MB

In [337]:
datatest.to_csv("csvs/datatestSinNan.csv", index = False)

## Algoritmos

### Grid Search

Para poder hallar los hiperparámetros de cada algoritmo que probamos, usamos Grid Search con valores que se consideraban lógicos. A continuación se muestra el código de Grid Search para KNN, pero se utilizó para todos los algoritmos, cambiando en cada caso, el diccionario con los hiperparámetros.

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [2]:
data = pd.read_csv("datosSinNan.csv")

In [3]:
X_train, X_test, y_train, y_test = train_test_split(data[['expenses', 'floor', 'lat', 'lon',\
                                                          'rooms', 'surface_covered_in_m2', 'surface_total_in_m2']], \
                                                    data[['price_aprox_usd']], test_size=0.1, random_state=0)

In [4]:
parameters = {'n_neighbors':[1,2,3,4,5,6,7,8,9,10], 'weights':['uniform', 'distance'], 'p':[1,2,3,4,5]}

In [5]:
gs = GridSearchCV(KNeighborsRegressor(), parameters, cv = 5, scoring = 'neg_mean_squared_error')
gs.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise',
       estimator=KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'weights': ['uniform', 'distance'], 'p': [1, 2, 3, 4, 5]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_squared_error', verbose=0)

In [6]:
gs.best_params_

{'n_neighbors': 3, 'p': 1, 'weights': 'distance'}

In [7]:
y_true, y_pred = y_test, gs.predict(X_test)

In [8]:
mean_squared_error(y_true, y_pred)

10270721834.252747

### KNN

El primer algoritmo que probamos fue KNN sin filtrar aquellas propiedades que tenían "store" en el campo property_type. El score en Kaggle fue 973339015524.93700

In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsRegressor

In [2]:
data = pd.read_csv("datosSinNan.csv")
test = pd.read_csv("datatestSinNan.csv")

In [3]:
def property_type_to_num(x):
    if x == "apartment":
        return 0
    if x == "house":
        return 1
    if x == "PH":
        return 2
    return 3

In [4]:
data['property_type'] = data['property_type'].apply(lambda x: property_type_to_num(x))

In [6]:
knn = KNeighborsRegressor(n_neighbors=3, weights='distance', p=1)

In [7]:
knn.fit(data[['expenses', 'floor', 'lat', 'lon', 'property_type', \
              'rooms', 'surface_covered_in_m2', 'surface_total_in_m2']], \
        data[['price_aprox_usd']])

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=3, p=1,
          weights='distance')

In [8]:
predictions = knn.predict(test[['expenses', 'floor', 'lat', 'lon', 'property_type',\
                                'rooms', 'surface_covered_in_m2', 'surface_total_in_m2']])

In [9]:
pr = [predictions[i][0] for i in range(len(predictions))]

In [10]:
test['price_usd'] = pd.Series(pr)

In [11]:
submit = test[['id', 'price_usd']]

In [13]:
submit.to_csv("properati_dataset_sample_submision.csv", index = False)

Al filtrar las propiedades de tipo "store", el score en Kaggle mejoró (973189725366.30400), por lo que decidimos filtrar estas propiedades en todos los algoritmos que probamos.

### Decision Tree

Con este algoritmo, al momento de hacer el Grid Search, el score que daba con la validación era menor que el que se obtuvo con KNN, sin embargo, al subir las predicciones a Kaggle, el score de este algoritmo fue mucho peor que con KNN (1005876469824.70000). Esto empeoró comparandolo incluso con la predicción utilizando Decision Tree con los valores por defecto (992801565782.56500).

In [14]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor

In [15]:
data = pd.read_csv("datosSinNan.csv")
test = pd.read_csv("datatestSinNan.csv")

In [16]:
data = data[data.property_type != "store"]

In [17]:
def property_type_to_num(x):
    if x == "apartment":
        return 0
    if x == "house":
        return 1
    if x == "PH":
        return 2

In [18]:
data['property_type'] = data['property_type'].apply(lambda x: property_type_to_num(x))

In [19]:
dt = DecisionTreeRegressor(max_depth = 10, min_samples_split = 3)

In [20]:
dt.fit(data[['expenses', 'floor', 'lat', 'lon', 'property_type', \
             'rooms', 'surface_covered_in_m2', 'surface_total_in_m2']], \
        data[['price_aprox_usd']])

DecisionTreeRegressor(criterion='mse', max_depth=10, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=3, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [21]:
predictions = dt.predict(test[['expenses', 'floor', 'lat', 'lon', 'property_type',\
                                'rooms', 'surface_covered_in_m2', 'surface_total_in_m2']])

In [22]:
test['price_usd'] = pd.Series(predictions)

In [23]:
submit = test[['id', 'price_usd']]

In [24]:
submit.to_csv("properati_dataset_sample_submision.csv", index = False)

### Random Forest

Utilizando este algoritmo con los hiperparámetros obtenidos con el Grid Search, pudimos mejorar el score obtenido con KNN en Kaggle (967248246642.93500).

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("datosSinNan.csv")
test = pd.read_csv("datatestSinNan.csv")

In [3]:
data = data[data.property_type != "store"]

In [4]:
def property_type_to_num(x):
    if x == "apartment":
        return 0
    if x == "house":
        return 1
    if x == "PH":
        return 2

In [5]:
data['property_type'] = data['property_type'].apply(lambda x: property_type_to_num(x))

In [6]:
rfr = RandomForestRegressor(n_estimators=20, min_samples_split=3, random_state=0)

In [7]:
rfr.fit(data[['expenses', 'floor', 'lat', 'lon', 'property_type', \
              'rooms', 'surface_covered_in_m2', 'surface_total_in_m2']], \
        data[['price_aprox_usd']].values.ravel())

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=3,
           min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [8]:
predictions = rfr.predict(test[['expenses', 'floor', 'lat', 'lon', 'property_type',\
                                'rooms', 'surface_covered_in_m2', 'surface_total_in_m2']])

In [9]:
test['price_usd'] = pd.Series(predictions)

In [10]:
submit = test[['id', 'price_usd']]

In [11]:
submit.to_csv("properati_dataset_sample_submision.csv", index = False)

### AdaBoost

Con este algoritmo hicimos varias pruebas cambiando el estimador base. Obtuvimos los siguientes score: 

1) AdaBoost con KNN: 973395588613.77500 (Empeoró respecto a KNN) 

2) AdaBoost sin estimador base: 964367202699.85600 (Mejoró en comparación a todos los anteriores)

3) AdaBoost con Random Forest: 963314256967.69800 

4) AdaBoost con Bagging Regressor cuyo estimador base era Gradient Boosting: 960838188443.48500 

5) AdaBoost con Gradient Boosting: 957297203685.38900

Este ultimo fue el algoritmo con el que obtuvimos el mejor score. El código que sigue es de este algoritmo.

In [105]:
import pandas as pd
import numpy as np
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [106]:
data = pd.read_csv("datosSinNan.csv")
test = pd.read_csv("datatestSinNan.csv")

In [107]:
data = data[data.property_type != "store"]

In [108]:
def property_type_to_num(x):
    if x == "apartment":
        return 0
    if x == "house":
        return 1
    if x == "PH":
        return 2

In [109]:
data['property_type'] = data['property_type'].apply(lambda x: property_type_to_num(x))

In [111]:
ab = AdaBoostRegressor(base_estimator=GradientBoostingRegressor(n_estimators = 2000, \
                                                                max_depth = 5, min_samples_split = 3), \
                        n_estimators=50, learning_rate=0.1, loss='exponential', random_state=3)

In [112]:
ab.fit(data[['expenses', 'floor', 'lat', 'lon', 'property_type', \
             'rooms', 'surface_covered_in_m2', 'surface_total_in_m2']], \
        data[['price_aprox_usd']].values.ravel())

AdaBoostRegressor(base_estimator=GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=5, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=3, min_weight_fraction_leaf=0.0,
             n_estimators=2000, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False),
         learning_rate=0.1, loss='exponential', n_estimators=50,
         random_state=3)

Esta linea nos permite guardar el estimador ya entrenado para después poder cargarlo y predecir los valores.

In [113]:
from sklearn.externals import joblib

joblib.dump(ab, 'adaboost5000.pkl')

['adaboost5000.pkl']

In [114]:
predictions = ab.predict(test[['expenses', 'floor', 'lat', 'lon', 'property_type',\
                                'rooms', 'surface_covered_in_m2', 'surface_total_in_m2']])

In [117]:
test['price_usd'] = pd.Series(predictions)

In [118]:
submit = test[['id', 'price_usd']]

In [119]:
submit.to_csv("properati_dataset_sample_submision2.csv", index = False)

### Código para cargar el estimador

Utilizamos la libreria joblib para no tener que entrenar al estimador cada vez que queremos predecir, asi a la hora de presentar el trabajo podemos predecir rapidamente.

In [2]:
from sklearn.externals import joblib

ab = joblib.load('adaboost.pkl')

In [3]:
import pandas as pd

test = pd.read_csv("datatestSinNan.csv")

In [4]:
predictions = ab.predict(test[['expenses', 'floor', 'lat', 'lon', 'property_type',\
                                'rooms', 'surface_covered_in_m2', 'surface_total_in_m2']])

In [5]:
test['price_usd'] = pd.Series(predictions)

In [6]:
submit = test[['id', 'price_usd']]

In [7]:
submit.to_csv("properati_dataset_sample_submision3.csv", index = False)